{
    "swagger" : "2.0",
    "info" : {
      "description" : "The endpoints described here are routed through Adobe.io. In order to use these endpoints you must create an oAuth client that is subscribed to access the Adobe Analytics Reporting API.",
      "version" : "v1 - Build: 2019-10-03_20:32:29.323",
      "title" : "Adobe Analytics APIs"
    },
    "host" : "analytics.adobe.io",
    "basePath" : "/",
    "tags" : [ {
      "name" : "calculatedmetrics"
    }, {
      "name" : "collections"
    }, {
      "name" : "component-metadata - tags"
    }, {
      "name" : "dateranges"
    }, {
      "name" : "dimensions"
    }, {
      "name" : "metrics"
    }, {
      "name" : "reports"
    }, {
      "name" : "reportsuites"
    }, {
      "name" : "segments"
    }, {
      "name" : "users"
    }, {
      "name" : "usagelogs"
    }],
    "schemes" : [ "https" ],
    "paths" : {
      "/calculatedmetrics" : {
        "get" : {
          "tags" : [ "calculatedmetrics" ],
          "summary" : "Retrieve many calculated metrics",
          "description" : "A calculated metric response will always include these default items: *id, name, description, rsid, owner, polarity, precision, type* \n\nOther attributes can be optionally requested through the 'expansion' field:\n\n* *modified*: Date that the metric was last modified (ISO 8601)\n* *definition*: Calculated metric definition as JSON object\n* *compatibility*: Products that the metric is compatible with\n* *reportSuiteName*: Also return the friendly Report Suite name for the RSID\n* *tags*: Gives all existing tags associated with the calculated metric\n\nFor more information about calculated metrics go [here](https://github.com/AdobeDocs/analytics-2.0-apis/blob/master/calculatedmetrics.md)\n\n",
          "operationId" : "findCalculatedMetrics",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "rsids",
            "in" : "query",
            "description" : "Filter list to only include calculated metrics tied to specified RSID list (comma-delimited)",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "ownerId",
            "in" : "query",
            "description" : "Filter list to only include calculated metrics owned by the specified loginId",
            "required" : false,
            "type" : "integer",
            "format" : "int32"
          }, {
            "name" : "filterByIds",
            "in" : "query",
            "description" : "Filter list to only include calculated metrics in the specified list (comma-delimited list of IDs) (this is the same as calculatedMetricFilter, and is overwritten by calculatedMetricFilter",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "toBeUsedInRsid",
            "in" : "query",
            "description" : "The report suite where the calculated metric intended to be used.  This report suite will be used to determine things like compatibility and permissions.  If it is not specified then the permissions will be calculated based on the union of all metrics authorized in all groups the user belongs to.  If the compatibility expansion is specified and toBeUsedInRsid is not then the compatibility returned is based off the compatibility from the last time the calculated metric was saved.",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "locale",
            "in" : "query",
            "description" : "Locale",
            "required" : false,
            "type" : "string",
            "default" : "en_US"
          }, {
            "name" : "name",
            "in" : "query",
            "description" : "Filter list to only include calculated metrics that contains the Name",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "tagNames",
            "in" : "query",
            "description" : "Filter list to only include calculated metrics that contains one of the tags",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "favorite",
            "in" : "query",
            "description" : "Filter list to only include calculated metrics that are favorites",
            "required" : false,
            "type" : "boolean"
          }, {
            "name" : "approved",
            "in" : "query",
            "description" : "Filter list to only include calculated metrics that are approved",
            "required" : false,
            "type" : "boolean"
          }, {
            "name" : "limit",
            "in" : "query",
            "description" : "Number of results per page",
            "required" : false,
            "type" : "integer",
            "default" : 10
          }, {
            "name" : "page",
            "in" : "query",
            "description" : "Page number (base 0 - first page is \"0\")",
            "required" : false,
            "type" : "integer",
            "default" : 0
          }, {
            "name" : "sortDirection",
            "in" : "query",
            "description" : "Sort direction (ASC or DESC)",
            "required" : false,
            "type" : "string",
            "default" : "ASC"
          }, {
            "name" : "sortProperty",
            "in" : "query",
            "description" : "Property to sort by (name, modified_date, id is currently allowed)",
            "required" : false,
            "type" : "string",
            "default" : "id"
          }, {
            "name" : "expansion",
            "in" : "query",
            "description" : "Comma-delimited list of additional calculated metric metadata fields to include on response.",
            "required" : false,
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "reportSuiteName", "ownerFullName", "modified", "tags", "definition", "compatibility", "categories" ]
            },
            "collectionFormat" : "csv",
            "enum" : [ "reportSuiteName", "ownerFullName", "modified", "tags", "definition", "compatibility", "categories" ]
          }, {
            "name" : "includeType",
            "in" : "query",
            "description" : "Include additional calculated metrics not owned by user. The \"all\" option takes precedence over \"shared\"",
            "required" : false,
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "all", "shared", "templates" ]
            },
            "collectionFormat" : "csv",
            "enum" : [ "all", "shared", "templates" ]
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/definitions/AnalyticsCalculatedMetric"
                }
              }
            },
            "400" : {
              "description" : "Unable to retrieve list of calculated metrics shared with user",
              "schema" : {
                "$ref" : "#/definitions/CalculatedMetricErrorStatus"
              }
            },
            "401" : {
              "description" : "Owner filter error; user specified is not in the same company as the requesting user",
              "schema" : {
                "$ref" : "#/definitions/CalculatedMetricErrorStatus"
              }
            },
            "403" : {
              "description" : "Requesting non-shared calculated metrics for other users is restricted to admin users",
              "schema" : {
                "$ref" : "#/definitions/CalculatedMetricErrorStatus"
              }
            },
            "500" : {
              "description" : "External API error; Calculated metric retrieval failed",
              "schema" : {
                "$ref" : "#/definitions/CalculatedMetricErrorStatus"
              }
            }
          }
        },
        "post" : {
          "tags" : [ "calculatedmetrics" ],
          "summary" : "Create a new Calculated Metric",
          "description" : "Creates a new calculated metric. The following attributes are available when creating a calculated metric:\n\nIMPORTANT: Required Fields: name, definition, rsid\n\nOptional fields: description\n\nExample definition for use in testing API below (\"Visits per visitor\"):\n\n```json\n\n\"definition\": {\r\n      \"formula\": {\r\n        \"func\": \"divide\",\r\n        \"col1\": {\r\n          \"func\": \"metric\",\r\n          \"name\": \"metrics/visits\",\r\n          \"description\": \"Visits\"\r\n        },\r\n        \"col2\": {\r\n          \"func\": \"metric\",\r\n          \"name\": \"metrics/visitors\",\r\n          \"description\": \"Unique Visitors\"\r\n        }\r\n      },\r\n      \"func\": \"calc-metric\",\r\n      \"version\": [\r\n        1,\r\n        0,\r\n        0\r\n      ]\r\n    }\n```\n\nA calculated metric response will always include these default items:* id, name, description, rsid, owner* \n\nOther attributes can be optionally requested through the 'expansion' field as defined/documented in the GET endpoints (see GET \"/calculatedmetrics\" or GET \"/calculatedmetrics/{id}\" for more documentation).",
          "operationId" : "calculatedmetrics_createCalculatedMetric",
          "consumes" : [ "application/json" ],
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "in" : "body",
            "name" : "body",
            "description" : "JSON-formatted Object containing key/value pairs for calculated metric creation.",
            "required" : false,
            "schema" : {
              "$ref" : "#/definitions/AnalyticsCalculatedMetric"
            }
          }, {
            "name" : "locale",
            "in" : "query",
            "description" : "Locale",
            "required" : false,
            "type" : "string",
            "default" : "en_US"
          }, {
            "name" : "expansion",
            "in" : "query",
            "description" : "Comma-delimited list of additional calculated metric metadata fields to include on response.",
            "required" : false,
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "reportSuiteName", "ownerFullName", "modified", "tags", "definition", "compatibility", "categories" ]
            },
            "collectionFormat" : "csv",
            "enum" : [ "reportSuiteName", "ownerFullName", "modified", "tags", "definition", "compatibility", "categories" ]
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/AnalyticsCalculatedMetric"
              }
            },
            "400" : {
              "description" : "Invalid input; name, rsid, and definition are all required. Definition must be formatted as a JSON Object.",
              "schema" : {
                "$ref" : "#/definitions/CalculatedMetricErrorStatus"
              }
            },
            "500" : {
              "description" : "External API error; Calculated metric create or retrieval failed",
              "schema" : {
                "$ref" : "#/definitions/CalculatedMetricErrorStatus"
              }
            }
          }
        }
      },
      "/calculatedmetrics/functions" : {
        "get" : {
          "tags" : [ "calculatedmetrics" ],
          "summary" : "Retrieve calculated metric functions",
          "description" : "",
          "operationId" : "calculatedmetrics_getCalculatedMetricFunctions",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "locale",
            "in" : "query",
            "description" : "Locale",
            "required" : false,
            "type" : "string",
            "default" : "en_US"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/definitions/CalcMetricFunction"
                }
              }
            },
            "500" : {
              "description" : "External API error; Calculated metric functions retrieval failed",
              "schema" : {
                "$ref" : "#/definitions/CalculatedMetricErrorStatus"
              }
            }
          }
        }
      },
      "/calculatedmetrics/functions/{id}" : {
        "get" : {
          "tags" : [ "calculatedmetrics" ],
          "summary" : "Retrieve a calculated metric function by id",
          "description" : "",
          "operationId" : "calculatedmetrics_getCalculatedMetricFunction",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "id",
            "in" : "path",
            "description" : "The function ID to retrieve",
            "required" : true,
            "type" : "string"
          }, {
            "name" : "locale",
            "in" : "query",
            "description" : "Locale",
            "required" : false,
            "type" : "string",
            "default" : "en_US"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/CalcMetricFunction"
              }
            },
            "404" : {
              "description" : "Calculated metric function not found",
              "schema" : {
                "$ref" : "#/definitions/CalculatedMetricErrorStatus"
              }
            },
            "500" : {
              "description" : "External API error; Calculated metric function retrieval failed",
              "schema" : {
                "$ref" : "#/definitions/CalculatedMetricErrorStatus"
              }
            }
          }
        }
      },
      "/calculatedmetrics/validate" : {
        "post" : {
          "tags" : [ "calculatedmetrics" ],
          "summary" : "Validate a calculated metric definition",
          "description" : "",
          "operationId" : "calculatedmetrics_validateCalculatedMetric",
          "consumes" : [ "application/json" ],
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "in" : "body",
            "name" : "body",
            "description" : "JSON-formatted Object containing key/value pairs for calculated metric validation.",
            "required" : false,
            "schema" : {
              "$ref" : "#/definitions/AnalyticsCalculatedMetric"
            }
          }, {
            "name" : "locale",
            "in" : "query",
            "description" : "Locale",
            "required" : false,
            "type" : "string",
            "default" : "en_US"
          }, {
            "name" : "migrating",
            "in" : "query",
            "description" : "Include migration functions in validation",
            "required" : false,
            "type" : "boolean",
            "default" : false
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/AnalyticsCalculatedMetric"
              }
            },
            "400" : {
              "description" : "Invalid input; name, rsid, and definition are all required. Definition must be formatted as a JSON Object.",
              "schema" : {
                "$ref" : "#/definitions/CalculatedMetricErrorStatus"
              }
            },
            "500" : {
              "description" : "External API error; Calculated metric validation failed",
              "schema" : {
                "$ref" : "#/definitions/CalculatedMetricErrorStatus"
              }
            }
          }
        }
      },
      "/calculatedmetrics/{id}" : {
        "get" : {
          "tags" : [ "calculatedmetrics" ],
          "summary" : "Retrieve a single calculated metric by id",
          "description" : "A calculated metric response will always include these default items: *id, name, description, rsid, owner, polarity, precision, type* \n\nOther attributes can be optionally requested through the 'expansion' field:\n\n* *modified*: Date that the metric was last modified (ISO 8601)\n* *definition*: Calculated metric definition as JSON object\n* *compatibility*: Products that the metric is compatible with\n* *reportSuiteName*: Also return the friendly Report Suite name for the RSID\n* *tags*: Gives all existing tags associated with the calculated metric\n\nFor more information about calculated metrics go [here](https://github.com/AdobeDocs/analytics-2.0-apis/blob/master/calculatedmetrics.md)\n\n",
          "operationId" : "findOneCalculatedMetric",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "id",
            "in" : "path",
            "description" : "The calculated metric ID to retrieve",
            "required" : true,
            "type" : "string"
          }, {
            "name" : "locale",
            "in" : "query",
            "description" : "Locale",
            "required" : false,
            "type" : "string",
            "default" : "en_US"
          }, {
            "name" : "expansion",
            "in" : "query",
            "description" : "Comma-delimited list of additional calculated metric metadata fields to include on response.",
            "required" : false,
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "reportSuiteName", "ownerFullName", "modified", "tags", "definition", "compatibility", "categories" ]
            },
            "collectionFormat" : "csv",
            "enum" : [ "reportSuiteName", "ownerFullName", "modified", "tags", "definition", "compatibility", "categories" ]
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/AnalyticsCalculatedMetric"
              }
            },
            "403" : {
              "description" : "Requesting non-shared calculated metrics for other users is restricted to admin users",
              "schema" : {
                "$ref" : "#/definitions/CalculatedMetricErrorStatus"
              }
            },
            "500" : {
              "description" : "External API error; calculated metric retrieval failed",
              "schema" : {
                "$ref" : "#/definitions/CalculatedMetricErrorStatus"
              }
            }
          }
        },
        "put" : {
          "tags" : [ "calculatedmetrics" ],
          "summary" : "Update an existing calculated metric",
          "description" : "The following fields can be modified through this endpoint: <br><b>name, description, definition, owner, rsid</b>\nExample \"defintion\" for use in testing API below (\"Visits per visitor\"):<br>\n\"definition\": {\r\n      \"formula\": {\r\n        \"func\": \"divide\",\r\n        \"col1\": {\r\n          \"func\": \"metric\",\r\n          \"name\": \"metrics/visits\",\r\n          \"description\": \"Visits\"\r\n        },\r\n        \"col2\": {\r\n          \"func\": \"metric\",\r\n          \"name\": \"metrics/visitors\",\r\n          \"description\": \"Unique Visitors\"\r\n        }\r\n      },\r\n      \"func\": \"calc-metric\",\r\n      \"version\": [\r\n        1,\r\n        0,\r\n        0\r\n      ]\r\n    }<br><br>Response will be the newly modified calculated metric object after the update request completes.<br><br><b><span style=\"text-decoration: underline;\">CalculatedMetricResponse</span></b><br>A calculated metric response will always include these default items:* id, name, description, rsid, owner* \n\nOther attributes can be optionally requested through the 'expansion' field as defined/documented in the GET endpoints (see GET \"/calculatedmetrics\" or GET \"/calculatedmetrics/{id}\" for more documentation).",
          "operationId" : "calculatedmetrics_updateCalculatedMetric",
          "consumes" : [ "application/json" ],
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "id",
            "in" : "path",
            "description" : "Calculated Metric ID to be updated",
            "required" : true,
            "type" : "string"
          }, {
            "in" : "body",
            "name" : "body",
            "description" : "JSON-formatted Object containing key/value pairs to be updated.",
            "required" : false,
            "schema" : {
              "$ref" : "#/definitions/AnalyticsCalculatedMetric"
            }
          }, {
            "name" : "locale",
            "in" : "query",
            "description" : "Locale",
            "required" : false,
            "type" : "string",
            "default" : "en_US"
          }, {
            "name" : "expansion",
            "in" : "query",
            "description" : "Comma-delimited list of additional calculated metric metadata fields to include on response.",
            "required" : false,
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "reportSuiteName", "ownerFullName", "modified", "tags", "definition", "compatibility", "categories" ]
            },
            "collectionFormat" : "csv",
            "enum" : [ "reportSuiteName", "ownerFullName", "modified", "tags", "definition", "compatibility", "categories" ]
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/AnalyticsCalculatedMetric"
              }
            },
            "400" : {
              "description" : "Definition must be formatted as a JSON Object",
              "schema" : {
                "$ref" : "#/definitions/CalculatedMetricErrorStatus"
              }
            },
            "401" : {
              "description" : "Company mismatch; calculated metric ownership can only be transferred within the same organization",
              "schema" : {
                "$ref" : "#/definitions/CalculatedMetricErrorStatus"
              }
            },
            "403" : {
              "description" : "User does not have permission to update this calculated metric",
              "schema" : {
                "$ref" : "#/definitions/CalculatedMetricErrorStatus"
              }
            },
            "500" : {
              "description" : "External API error; Calculated metric update or retrieval failed",
              "schema" : {
                "$ref" : "#/definitions/CalculatedMetricErrorStatus"
              }
            }
          }
        },
        "delete" : {
          "tags" : [ "calculatedmetrics" ],
          "summary" : "Deletion of Calculated Metrics by Id",
          "description" : "",
          "operationId" : "calculatedmetrics_deleteCalculatedMetric",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "id",
            "in" : "path",
            "description" : "The calculated metric ID to be deleted",
            "required" : true,
            "type" : "string"
          }, {
            "name" : "locale",
            "in" : "query",
            "description" : "Locale",
            "required" : false,
            "type" : "string",
            "default" : "en_US"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/DeleteResponse"
              }
            },
            "500" : {
              "description" : "External API error; Calculated metric delete failed",
              "schema" : {
                "$ref" : "#/definitions/CalculatedMetricErrorStatus"
              }
            }
          }
        }
      },
      "/collections/suites" : {
        "get" : {
          "tags" : [ "collections" ],
          "summary" : "Retrieves report suites that match the given filters.",
          "description" : "Returns all report suite types in a single collection.",
          "operationId" : "findAll",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "rsids",
            "in" : "query",
            "description" : "Filter list to only include suites in this RSID list (comma-delimited)",
            "required" : false,
            "type" : "string"
          }, {  
            "name" : "rsidContains",
            "in" : "query",
            "description" : "Filter list to only include suites whose rsid contains rsidContains.",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "limit",
            "in" : "query",
            "description" : "Number of results per page",
            "required" : false,
            "type" : "integer",
            "default" : 10
          }, {
            "name" : "page",
            "in" : "query",
            "description" : "Page number (base 0 - first page is \"0\")",
            "required" : false,
            "type" : "integer",
            "default" : 0
          }, {
            "name" : "expansion",
            "in" : "query",
            "description" : "Comma-delimited list of additional metadata fields to include on response.",
            "required" : false,
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "name", "parentRsid", "currency", "calendarType", "timezoneZoneinfo" ]
            },
            "collectionFormat" : "csv",
            "enum" : [ "name", "parentRsid", "currency", "calendarType", "timezoneZoneinfo" ]
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/SuiteCollectionItem"
              }
            },
            "500" : {
              "description" : "Unexpected error; report suite retrieval failed"
            }
          }
        }
      },
      "/collections/suites/{rsid}" : {
        "get" : {
          "tags" : [ "collections" ],
          "summary" : "Retrieves report suite by id",
          "description" : "Returns all report suite types in a single collection.",
          "operationId" : "findOne",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "rsid",
            "in" : "path",
            "description" : "The rsid of the suite to return",
            "required" : true,
            "type" : "string"
          }, {
            "name" : "expansion",
            "in" : "query",
            "description" : "Comma-delimited list of additional metadata fields to include on response.",
            "required" : false,
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "name", "parentRsid", "currency", "calendarType", "timezoneZoneinfo" ]
            },
            "collectionFormat" : "csv",
            "enum" : [ "name", "parentRsid", "currency", "calendarType", "timezoneZoneinfo" ]
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/SuiteCollectionItem"
              }
            },
            "500" : {
              "description" : "Unexpected error; report suite retrieval failed"
            }
          }
        }
      },
      "/componentmetadata/tags/component/search": {
        "post": {
          "tags": [
            "component-metadata - tags"
          ],
          "summary": "search for tags for several components at once",
          "description": "",
          "operationId": "searchComponentTags_2",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "body",
              "name": "body",
              "description": "items to search for",
              "required": false,
              "schema": {
                "$ref": "#/definitions/ComponentSearch"
              }
            },
            {
              "name": "limit",
              "in": "query",
              "description": "Number of results per page",
              "required": false,
              "type": "integer",
              "default": 10
            },
            {
              "name": "page",
              "in": "query",
              "description": "Page number (base 0 - first page is \"0\")",
              "required": false,
              "type": "integer",
              "default": 0
            }
          ],
          "responses": {
            "200": {
              "description": "successful operation",
              "schema": {
                "$ref": "#/definitions/TaggedComponent"
              }
            }
          }
        }
      },
      "/componentmetadata/tags": {
        "get": {
          "tags": [
            "component-metadata - tags"
          ],
          "summary": "Returns a list of tags for the current user's company",
          "description": "",
          "operationId": "findAllForCompany",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "limit",
              "in": "query",
              "description": "Number of results per page",
              "required": false,
              "type": "integer",
              "default": 10
            },
            {
              "name": "page",
              "in": "query",
              "description": "Page number (base 0 - first page is \"0\")",
              "required": false,
              "type": "integer",
              "default": 0
            }
          ],
          "responses": {
            "200": {
              "description": "successful operation",
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/Tag"
                }
              }
            },
            "500": {
              "description": "Unable to retrieve list of tags for user."
            }
          }
        },
        "post": {
          "tags": [
            "component-metadata - tags"
          ],
          "summary": "Saves the given tag(s) for the current user's company",
          "description": "Allows creation of a new tag and applies that new tag to the passed component",
          "operationId": "saveTagList",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "body",
              "name": "body",
              "description": "JSON-formatted array of Tag objects containing key-value pairs",
              "required": false,
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/Tag"
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "successful operation",
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/Tag"
                }
              }
            },
            "500": {
              "description": "Unable to save list of tags."
            }
          }
        },
        "delete": {
          "tags": [
            "component-metadata - tags"
          ],
          "summary": "Disassociates all tags from the given components",
          "description": "Removes all tags from the passed componentIds. Note that currently this is done in a single DB query, so there is a single combined response for the entire operation.",
          "operationId": "deleteTagItems",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "componentIds",
              "in": "query",
              "description": "Comma-separated list of componentIds to operate on.",
              "required": true,
              "type": "string"
            },
            {
              "name": "componentType",
              "in": "query",
              "description": "The component type to operate on.",
              "required": true,
              "type": "string",
              "enum": [
                "segment",
                "dashboard",
                "bookmark",
                "calculatedMetric",
                "project",
                "dateRange",
                "metric",
                "dimension",
                "virtualReportSuite",
                "scheduledJob",
                "alert",
                "classificationSet"
              ]
            }
          ],
          "responses": {
            "200": {
              "description": "successful operation",
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            },
            "500": {
              "description": "Unable to remove tags for given components."
            },
            "400": {
              "description": "Invalid component type."
            }
          }
        }
      },
      "/componentmetadata/tags/search": {
        "get": {
          "tags": [
            "component-metadata - tags"
          ],
          "summary": "Retrieves a tags for a given component by componentId and componentType",
          "description": "Given a componentId, return all tags associated with that component",
          "operationId": "getTagListByComponentIdAndComponentType",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "componentId",
              "in": "query",
              "description": "The componentId to operate on. Currently this is just the segmentId.",
              "required": true,
              "type": "string"
            },
            {
              "name": "componentType",
              "in": "query",
              "description": "The component type to operate on.",
              "required": true,
              "type": "string",
              "enum": [
                "segment",
                "dashboard",
                "bookmark",
                "calculatedMetric",
                "project",
                "dateRange",
                "metric",
                "dimension",
                "virtualReportSuite",
                "scheduledJob",
                "alert",
                "classificationSet"
              ]
            }
          ],
          "responses": {
            "200": {
              "description": "successful operation",
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/Tag"
                }
              }
            },
            "500": {
              "description": "Unable to retrieve tags for given component."
            },
            "400": {
              "description": "Invalid component type."
            }
          }
        }
      },
      "/componentmetadata/tags/tagitems": {
        "put": {
          "tags": [
            "component-metadata - tags"
          ],
          "summary": "Tag a component with one or many tags at once. WARNING: Authoritative; deletes/overwrites all pre-existing associations",
          "description": "This endpoint allows many tags at once to be created/deleted. Any tags passed to this endpoint will become the *only* tags for that componentId (all other tags will be removed).",
          "operationId": "saveTagComponentList",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "body",
              "name": "body",
              "description": "JSON-formatted object containing key-value pairs that conform to the schema",
              "required": false,
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/TaggedComponent"
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "successful operation",
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/TaggedComponent"
                }
              }
            },
            "500": {
              "description": "Unable to save tag list."
            }
          }
        }
      },
      "/componentmetadata/tags/{id}": {
        "get": {
          "tags": [
            "component-metadata - tags"
          ],
          "summary": "Retrieves an tag by its id",
          "description": "",
          "operationId": "getTagById",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "Tag ID to be retrieved",
              "required": true,
              "type": "integer",
              "format": "int32"
            }
          ],
          "responses": {
            "200": {
              "description": "successful operation",
              "schema": {
                "$ref": "#/definitions/Tag"
              }
            },
            "500": {
              "description": "Unexpected server error while trying to retrieve tag"
            },
            "404": {
              "description": "Unable to find a tag with the given ID"
            }
          }
        },
        "delete": {
          "tags": [
            "component-metadata - tags"
          ],
          "summary": "Removes the tagId and all associations from that tag to any components",
          "description": "Delete by tagId. Will un-tag any/all components that were associated with the passed tagId.",
          "operationId": "deleteTag",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "The tagId to be deleted",
              "required": true,
              "type": "integer",
              "format": "int32"
            }
          ],
          "responses": {
            "200": {
              "description": "successful operation",
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            },
            "500": {
              "description": "Unable to delete the given tagId."
            },
            "404": {
              "description": "The given tagId does not exist"
            }
          }
        }
      },
      "/componentmetadata/tags/tagnames": {
        "get": {
          "tags": [
            "component-metadata - tags"
          ],
          "summary": "Retrieves component ids associated with the given tag names",
          "description": "Given a comma separated list of tag names, return component ids associated with them.",
          "operationId": "getComponentsByTagName",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "tagNames",
              "in": "query",
              "description": "Comma separated list of tag names.",
              "required": true,
              "type": "string"
            },
            {
              "name": "componentType",
              "in": "query",
              "description": "The component type to operate on.",
              "required": true,
              "type": "string",
              "enum": [
                "segment",
                "dashboard",
                "bookmark",
                "calculatedMetric",
                "project",
                "dateRange",
                "metric",
                "dimension",
                "virtualReportSuite",
                "scheduledJob",
                "alert",
                "classificationSet"
              ]
            }
          ],
          "responses": {
            "200": {
              "description": "successful operation",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "500": {
              "description": "Unable to retrieve tags for given component."
            },
            "400": {
              "description": "Invalid component type."
            }
          }
        }
      },    
      "/dateranges" : {
        "get" : {
          "tags" : [ "dateranges" ],
          "summary" : "Returns a list of dateranges for the user",
          "description" : "This API allows users to store commonly used date ranges so that they can be reused throughout the product.",
          "operationId" : "getDateRanges",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "locale",
            "in" : "query",
            "description" : "Locale",
            "required" : false,
            "type" : "string",
            "default" : "en_US"
          }, {
            "name" : "filterByIds",
            "in" : "query",
            "description" : "Filter list to only include date ranges in the specified list (comma-delimited list of IDs)",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "limit",
            "in" : "query",
            "description" : "Number of results per page",
            "required" : false,
            "type" : "integer",
            "default" : 10
          }, {
            "name" : "page",
            "in" : "query",
            "description" : "Page number (base 0 - first page is \"0\")",
            "required" : false,
            "type" : "integer",
            "default" : 0
          }, {
            "name" : "expansion",
            "in" : "query",
            "description" : "Comma-delimited list of additional date range metadata fields to include on response.",
            "required" : false,
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "definition", "ownerFullName", "modified", "tags" ]
            },
            "collectionFormat" : "csv",
            "enum" : [ "definition", "ownerFullName", "modified", "tags" ]
          }, {
            "name" : "includeType",
            "in" : "query",
            "description" : "Include additional date ranges not owned by user. The \"all\" option takes precedence over \"shared\"",
            "required" : false,
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "all", "shared", "templates" ]
            },
            "collectionFormat" : "csv",
            "enum" : [ "all", "shared", "templates" ]
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/AnalyticsDateRange"
              }
            }
          }
        }
      },
      "/dateranges/{dateRangeId}" : {
        "get" : {
          "tags" : [ "dateranges" ],
          "summary" : "Retrieves configuration for a DateRange.",
          "description" : "",
          "operationId" : "getDateRange",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "dateRangeId",
            "in" : "path",
            "description" : "The DateRange id for which to retrieve information",
            "required" : true,
            "type" : "string"
          }, {
            "name" : "locale",
            "in" : "query",
            "description" : "Locale",
            "required" : false,
            "type" : "string",
            "default" : "en_US"
          }, {
            "name" : "expansion",
            "in" : "query",
            "description" : "Comma-delimited list of additional date range metadata fields to include on response.",
            "required" : false,
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "definition", "ownerFullName", "modified", "tags" ]
            },
            "collectionFormat" : "csv",
            "enum" : [ "definition", "ownerFullName", "modified", "tags" ]
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/AnalyticsDateRange"
              }
            }
          }
        }
      },
      "/dimensions" : {
        "get" : {
          "tags" : [ "dimensions" ],
          "summary" : "Returns a list of dimensions for a given report suite.",
          "description" : "",
          "operationId" : "dimensions_getDimensions",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "rsid",
            "in" : "query",
            "description" : "A Report Suite ID",
            "required" : true,
            "type" : "string"
          }, {
            "name" : "locale",
            "in" : "query",
            "description" : "Locale",
            "required" : false,
            "type" : "string",
            "default" : "en_US"
          }, {
            "name" : "segmentable",
            "in" : "query",
            "description" : "Only include dimensions that are valid within a segment.",
            "required" : false,
            "type" : "boolean",
            "enum" : [ "true" ]
          }, {
            "name" : "reportable",
            "in" : "query",
            "description" : "Only include dimensions that are valid within a report.",
            "required" : false,
            "type" : "boolean",
            "enum" : [ "true" ]
          }, {
            "name" : "classifiable",
            "in" : "query",
            "description" : "Only include classifiable dimensions.",
            "required" : false,
            "type" : "boolean",
            "default" : false,
            "enum" : [ "true" ]
          }, {
            "name" : "expansion",
            "in" : "query",
            "description" : "Add extra metadata to items (comma-delimited list)",
            "required" : false,
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "tags", "allowedForReporting", "categories" ]
            },
            "collectionFormat" : "csv",
            "enum" : [ "tags", "allowedForReporting", "categories" ]
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/definitions/AnalyticsDimension"
                }
              }
            },
            "400" : {
              "description" : "Invalid JSON input"
            },
            "401" : {
              "description" : "User does not have access to this report suite"
            },
            "500" : {
              "description" : "Unexpected internal server error"
            }
          }
        }
      },
      "/dimensions/{dimensionId}" : {
        "get" : {
          "tags" : [ "dimensions" ],
          "summary" : "Returns a dimension for the given report suite",
          "description" : "",
          "operationId" : "dimensions_getDimension",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "dimensionId",
            "in" : "path",
            "description" : "The dimension ID. For example a valid id is a value like 'evar1'",
            "required" : true,
            "type" : "string"
          }, {
            "name" : "rsid",
            "in" : "query",
            "description" : "The report suite ID.",
            "required" : true,
            "type" : "string"
          }, {
            "name" : "locale",
            "in" : "query",
            "description" : "The locale to use for returning system named dimensions.",
            "required" : false,
            "type" : "string",
            "default" : "en_US"
          }, {
            "name" : "expansion",
            "in" : "query",
            "description" : "Add extra metadata to items (comma-delimited list)",
            "required" : false,
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "tags", "allowedForReporting", "categories" ]
            },
            "collectionFormat" : "csv",
            "enum" : [ "tags", "allowedForReporting", "categories" ]
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/AnalyticsDimension"
              }
            },
            "401" : {
              "description" : "User Doesn't have sufficient privileges"
            }
          }
        }
      },
      "/metrics" : {
        "get" : {
          "tags" : [ "metrics" ],
          "summary" : "Returns a list of metrics for the given report suite",
          "description" : "This returns the metrics list primarily for the Analytics product. The platform identity API Returns a list of all possible metrics for the supported systems.",
          "operationId" : "getMetrics",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "rsid",
            "in" : "query",
            "description" : "ID of desired report suite ie. myrsid",
            "required" : true,
            "type" : "string"
          }, {
            "name" : "locale",
            "in" : "query",
            "description" : "Locale that system named metrics should be returned in",
            "required" : false,
            "type" : "string",
            "default" : "en_US"
          }, {
            "name" : "segmentable",
            "in" : "query",
            "description" : "Filter the metrics by if they are valid in a segment.",
            "required" : false,
            "type" : "boolean",
            "default" : false
          }, {
            "name" : "expansion",
            "in" : "query",
            "description" : "Add extra metadata to items (comma-delimited list)",
            "required" : false,
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "tags", "allowedForReporting", "categories" ]
            },
            "collectionFormat" : "csv",
            "enum" : [ "tags", "allowedForReporting", "categories" ]
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/AnalyticsMetric"
              }
            },
            "400" : {
              "description" : "Invalid JSON input"
            },
            "403" : {
              "description" : "Insufficient access to perform operation"
            },
            "500" : {
              "description" : "Unexpected internal server error"
            }
          }
        }
      },
      "/metrics/{id}" : {
        "get" : {
          "tags" : [ "metrics" ],
          "summary" : "Returns a metric for the given report suite",
          "description" : "",
          "operationId" : "getMetric",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "id",
            "in" : "path",
            "description" : "The id of the metric for which to retrieve info. Note ids are values like pageviews, not metrics/pageviews",
            "required" : true,
            "type" : "string"
          }, {
            "name" : "rsid",
            "in" : "query",
            "description" : "ID of desired report suite ie. myrsid",
            "required" : true,
            "type" : "string"
          }, {
            "name" : "locale",
            "in" : "query",
            "description" : "Locale that system named metrics should be returned in",
            "required" : false,
            "type" : "string",
            "default" : "en_US"
          }, {
            "name" : "expansion",
            "in" : "query",
            "description" : "Add extra metadata to items (comma-delimited list)",
            "required" : false,
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "tags", "allowedForReporting", "categories" ]
            },
            "collectionFormat" : "csv",
            "enum" : [ "tags", "allowedForReporting", "categories" ]
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/AnalyticsMetric"
              }
            },
            "400" : {
              "description" : "Invalid JSON input"
            },
            "403" : {
              "description" : "Insufficient access to perform operation"
            },
            "500" : {
              "description" : "Unexpected internal server error"
            }
          }
        }
      },
      "/reports" : {
        "post" : {
          "tags" : [ "reports" ],
          "summary" : "Runs a report for the request in the post body",
          "description" : "See the [Reporting User Guide](https://github.com/AdobeDocs/analytics-2.0-apis/blob/master/reporting-guide.md) for details.",
          "operationId" : "runReport",
          "consumes" : [ "application/json" ],
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "in" : "body",
            "name" : "body",
            "required" : false,
            "schema" : {
              "$ref" : "#/definitions/RankedRequest"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "Successful operation",
              "schema" : {
                "$ref" : "#/definitions/RankedReportData"
              }
            },
            "206" : {
              "description" : "Partially successful operation.  Some response columns contain errors.  See the [Partial Responses](https://github.com/AdobeDocs/analytics-2.0-apis/blob/master/reporting-guide.md#partial-responses-206-status-code) for details.",
              "schema" : {
                "$ref" : "#/definitions/RankedReportData"
              }
            },
            "400" : {
              "description" : "Invalid input; name, rsid, and definition are all required. Definition must be formatted as a JSON Object.",
              "schema" : {
                "$ref" : "#/definitions/ReportErrorStatus"
              }
            }
          }
        }
      },
      "/reports/topItems" : {
        "get" : {
          "tags" : [ "reports" ],
          "summary" : "Runs a top items report for the request in the post body",
          "description" : "Get the top X items (based on paging restriction) for the specified dimension and rsid. Defaults to last 90 days.",
          "operationId" : "runTopItemReport",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "rsid",
            "in" : "query",
            "description" : "ID of desired report suite ie. myrsid",
            "required" : true,
            "type" : "string"
          }, {
            "name" : "dimension",
            "in" : "query",
            "description" : "Dimension to run the report against. Example: 'variables/page'",
            "required" : true,
            "type" : "string"
          }, {
            "name" : "locale",
            "in" : "query",
            "description" : "Locale that system named metrics should be returned in",
            "required" : false,
            "type" : "string",
            "default" : "en_US"
          }, {
            "name" : "dateRange",
            "in" : "query",
            "description" : "Format: YYYY-MM-DD/YYYY-MM-DD",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "search-clause",
            "in" : "query",
            "description" : "General search string; wrap with single quotes. Example: 'PageABC'",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "startDate",
            "in" : "query",
            "description" : "Format: YYYY-MM-DD",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "endDate",
            "in" : "query",
            "description" : "Format: YYYY-MM-DD",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "searchAnd",
            "in" : "query",
            "description" : "Search terms that will be AND-ed together. Space delimited.",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "searchOr",
            "in" : "query",
            "description" : "Search terms that will be OR-ed together. Space delimited.",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "searchNot",
            "in" : "query",
            "description" : "Search terms that will be treated as NOT including. Space delimited.",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "searchPhrase",
            "in" : "query",
            "description" : "A full search phrase that will be searched for.",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "searchPhrase",
            "in" : "query",
            "description" : "A full search phrase that will be searched for.",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "lookupNoneValues",
            "in" : "query",
            "description" : "Controls None values to be included",
            "required" : false,
            "type" : "boolean",
            "default" : true
          }, {
            "name" : "limit",
            "in" : "query",
            "description" : "Number of results per page",
            "required" : false,
            "type" : "integer",
            "default" : 10
          }, {
            "name" : "page",
            "in" : "query",
            "description" : "Page number (base 0 - first page is \"0\")",
            "required" : false,
            "type" : "integer",
            "default" : 0
          } ],
          "responses" : {
            "200" : {
              "description" : "Successful operation",
              "schema" : {
                "$ref" : "#/definitions/UnhashReportData"
              }
            },
            "206" : {
              "description" : "Partially successful operation.  Some response columns contain errors.  See the [Partial Responses](https://github.com/AdobeDocs/analytics-2.0-apis/blob/master/reporting-guide.md#partial-responses-206-status-code) for details.",
              "schema" : {
                "$ref" : "#/definitions/UnhashReportData"
              }
            },
            "400" : {
              "description" : "Invalid input; name, rsid, and definition are all required. Definition must be formatted as a JSON Object.",
              "schema" : {
                "$ref" : "#/definitions/ReportErrorStatus"
              }
            }
          }
        }
      },
      "/segments" : {
        "get" : {
          "tags" : [ "segments" ],
          "summary" : "Retrieve All Segments",
          "description" : "",
          "operationId" : "segments_getSegments",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "rsids",
            "in" : "query",
            "description" : "Filter list to only include segments tied to specified RSID list (comma-delimited)",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "segmentFilter",
            "in" : "query",
            "description" : "Filter list to only include segments in the specified list (comma-delimited list of IDs)",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "locale",
            "in" : "query",
            "description" : "Locale",
            "required" : false,
            "type" : "string",
            "default" : "en_US"
          }, {
            "name" : "name",
            "in" : "query",
            "description" : "Filter list to only include segments that contains the Name",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "tagNames",
            "in" : "query",
            "description" : "Filter list to only include segments that contains one of the tags",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "filterByPublishedSegments",
            "in" : "query",
            "description" : "Filter list to only include segments where the published field is set to one of the allowable values (all, true, false).",
            "required" : false,
            "type" : "string",
            "default" : "all",
            "enum" : [ "all", "true", "false" ]
          }, {
            "name" : "limit",
            "in" : "query",
            "description" : "Number of results per page",
            "required" : false,
            "type" : "integer",
            "default" : 10
          }, {
            "name" : "page",
            "in" : "query",
            "description" : "Page number (base 0 - first page is \"0\")",
            "required" : false,
            "type" : "integer",
            "default" : 0
          }, {
            "name" : "sortDirection",
            "in" : "query",
            "description" : "Sort direction (ASC or DESC",
            "required" : false,
            "type" : "string",
            "default" : "ASC"
          }, {
            "name" : "sortProperty",
            "in" : "query",
            "description" : "Property to sort by (name, modified_date, id is currently allowed)",
            "required" : false,
            "type" : "string",
            "default" : "id"
          }, {
            "name" : "expansion",
            "in" : "query",
            "description" : "Comma-delimited list of additional segment metadata fields to include on response.",
            "required" : false,
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "reportSuiteName", "ownerFullName", "modified", "tags", "compatibility", "definition", "publishingStatus", "definitionLastModified", "categories" ]
            },
            "collectionFormat" : "csv",
            "enum" : [ "reportSuiteName", "ownerFullName", "modified", "tags", "compatibility", "definition", "publishingStatus", "definitionLastModified", "categories" ]
          }, {
            "name" : "includeType",
            "in" : "query",
            "description" : "Include additional segments not owned by user. The \"all\" option takes precedence over \"shared\"",
            "required" : false,
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "shared", "all", "templates" ]
            },
            "collectionFormat" : "csv",
            "enum" : [ "shared", "all", "templates" ]
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/AnalyticsSegmentResponseItem"
              }
            },
            "400" : {
              "description" : "Unable to retrieve list of segments shared with user"
            },
            "401" : {
              "description" : "Owner filter error; user specified is not in the same company as the requesting user"
            },
            "403" : {
              "description" : "Requesting non-shared segments for other users is restricted to admin users"
            },
            "500" : {
              "description" : "External API error; Segment retrieval failed"
            }
          }
        },
        "post" : {
          "tags" : [ "segments" ],
          "summary" : "Creates Segment",
          "description" : "",
          "operationId" : "segments_createSegment",
          "consumes" : [ "application/json" ],
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "in" : "body",
            "name" : "body",
            "description" : "JSON-formatted Object containing key/value pairs for segment creation.",
            "required" : true,
            "schema" : {
              "$ref" : "#/definitions/AnalyticsSegment"
              }
          }, {
            "name" : "locale",
            "in" : "query",
            "description" : "Locale. Valid values include 'en_US', 'fr_FR', 'ja_JP', 'de_DE', 'es_ES', 'ko_KR', 'pt_BR', 'zh_CN', and 'zh_TW'.",
            "required" : false,
            "type" : "string",
            "default" : "en_US"
          }, {
            "name" : "expansion",
            "in" : "query",
            "description" : "Comma-delimited list of additional segment metadata fields to include on response.",
            "required" : false,
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "reportSuiteName", "ownerFullName", "modified", "tags", "compatibility", "definition", "publishingStatus", "definitionLastModified", "categories" ]
            },
            "collectionFormat" : "csv",
            "enum" : [ "reportSuiteName", "ownerFullName", "modified", "tags", "compatibility", "definition", "publishingStatus", "definitionLastModified", "categories" ]
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/AnalyticsSegmentResponseItem"
              }
            },
            "400" : {
              "description" : "Invalid input; name, rsid, and definition are all required. Definition must be formatted as a JSON Object."
            },
            "500" : {
              "description" : "External API error; Segment create or retrieval failed"
            }
          }
        }
      },
      "/segments/validate" : {
        "post" : {
          "tags" : [ "segments" ],
          "summary" : "Validate a Segment",
          "description" : "Returns a segment validation for the segment contained in the post body of the report.",
          "operationId" : "segments_validateSegment",
          "consumes" : [ "application/json" ],
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "rsid",
            "in" : "query",
            "description" : "RSID to run the report against",
            "required" : true,
            "type" : "string"
          }, {
            "in" : "body",
            "name" : "body",
            "description" : "Segment definition",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/SegmentCompatibility"
              }
            },
            "400" : {
              "description" : "Bad JSON input; request not formatted correctly"
            },
            "500" : {
              "description" : "Unexpected error;"
            }
          }
        }
      },
      "/segments/{id}" : {
        "get" : {
          "tags" : [ "segments" ],
          "summary" : "Get a Single Segment",
          "description" : "",
          "operationId" : "segments_getSegment",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "id",
            "in" : "path",
            "description" : "The segment ID to retrieve",
            "required" : true,
            "type" : "string"
          }, {
            "name" : "locale",
            "in" : "query",
            "description" : "Locale. Valid values include 'en_US', 'fr_FR', 'ja_JP', 'de_DE', 'es_ES', 'ko_KR', 'pt_BR', 'zh_CN', and 'zh_TW'.",
            "required" : false,
            "type" : "string",
            "default" : "en_US"
          }, {
            "name" : "expansion",
            "in" : "query",
            "description" : "Comma-delimited list of additional segment metadata fields to include on response.",
            "required" : false,
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "reportSuiteName", "ownerFullName", "modified", "tags", "compatibility", "definition", "publishingStatus", "definitionLastModified", "categories" ]
            },
            "collectionFormat" : "csv",
            "enum" : [ "reportSuiteName", "ownerFullName", "modified", "tags", "compatibility", "definition", "publishingStatus", "definitionLastModified", "categories" ]
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/AnalyticsSegmentResponseItem"
              }
            },
            "403" : {
              "description" : "Requesting non-shared segments for other users is restricted to admin users"
            },
            "500" : {
              "description" : "External API error; segment retrieval failed"
            }
          }
        },
        "put" : {
          "tags" : [ "segments" ],
          "summary" : "Update a Segment",
          "description" : "",
          "operationId" : "segments_updateSegment",
          "consumes" : [ "application/json" ],
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "id",
            "in" : "path",
            "description" : "Segment ID to be updated",
            "required" : true,
            "type" : "string"
          }, {
            "in" : "body",
            "name" : "body",
            "description" : "JSON-formatted Object containing key/value pairs to be updated.",
            "required" : false,
            "schema" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "object"
              }
            }
          }, {
            "name" : "locale",
            "in" : "query",
            "description" : "Locale. Valid values include 'en_US', 'fr_FR', 'ja_JP', 'de_DE', 'es_ES', 'ko_KR', 'pt_BR', 'zh_CN', and 'zh_TW'.",
            "required" : false,
            "type" : "string",
            "default" : "en_US"
          }, {
            "name" : "expansion",
            "in" : "query",
            "description" : "Comma-delimited list of additional segment metadata fields to include on response.",
            "required" : false,
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "reportSuiteName", "ownerFullName", "modified", "tags", "compatibility", "definition", "publishingStatus", "definitionLastModified", "categories" ]
            },
            "collectionFormat" : "csv",
            "enum" : [ "reportSuiteName", "ownerFullName", "modified", "tags", "compatibility", "definition", "publishingStatus", "definitionLastModified", "categories" ]
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/AnalyticsSegmentResponseItem"
              }
            },
            "400" : {
              "description" : "Definition must be formatted as a JSON Object"
            },
            "401" : {
              "description" : "Company mismatch; segment ownership can only be transferred within the same organization"
            },
            "403" : {
              "description" : "User does not have permission to update this segment"
            },
            "500" : {
              "description" : "External API error; Segment update or retrieval failed"
            }
          }
        },
        "delete" : {
          "tags" : [ "segments" ],
          "summary" : "Delete Segment",
          "description" : "",
          "operationId" : "segments_deleteSegment",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "id",
            "in" : "path",
            "description" : "The segment ID to be deleted",
            "required" : true,
            "type" : "string"
          }, {
            "name" : "locale",
            "in" : "query",
            "description" : "Locale. Valid values include 'en_US', 'fr_FR', 'ja_JP', 'de_DE', 'es_ES', 'ko_KR', 'pt_BR', 'zh_CN', and 'zh_TW'.",
            "required" : false,
            "type" : "string",
            "default" : "en_US"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "type" : "string"
              }
            },
            "500" : {
              "description" : "External API error; Segment delete failed"
            }
          }
        }
      },
      "/users" : {
        "get" : {
          "tags" : [ "users" ],
          "summary" : "Returns a list of users for the current user's login company",
          "description" : "Retrieves a list of all users for the company designated by the auth token.",
          "operationId" : "findAll",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "limit",
            "in" : "query",
            "description" : "Number of results per page",
            "required" : false,
            "type" : "integer",
            "default" : 10
          }, {
            "name" : "page",
            "in" : "query",
            "description" : "Page number (base 0 - first page is \"0\")",
            "required" : false,
            "type" : "integer",
            "default" : 0
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/definitions/AnalyticsUser"
                }
              }
            },
            "500" : {
              "description" : "Database error or other unexpected error"
            }
          }
        }
      },
      "/users/me" : {
        "get" : {
          "tags" : [ "users" ],
          "summary" : "Get the current user",
          "description" : "",
          "operationId" : "getCurrentUser",
          "produces" : [ "application/json" ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/AnalyticsUser"
              }
            }
          }
        }
      },
      "/reportsuites/virtualreportsuites": {
        "get": {
          "tags": [
            "reportsuites"
          ],
          "summary": "Retrieves many virtual report suites using the given search criteria",
          "operationId": "userGetVirtualReportSuites",
          "parameters": [
            {
              "name": "limit",
              "in": "query",
              "description": "Number of results per page",
              "schema": {
                "type": "string",
                "default": "10"
              }
            },
            {
              "name": "page",
              "in": "query",
              "description": "Page number (base 0 - first page is \"0\")",
              "schema": {
                "type": "string",
                "default": "0"
              }
            },
            {
              "name": "expansion",
              "in": "query",
              "description": "Comma-delimited list of additional virtual report suite metadata fields to include on response",
              "required": false,
              "style": "form",
              "explode": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "globalCompanyKey",
                    "parentRsid",
                    "parentRsidName",
                    "timezone",
                    "timezoneZoneinfo",
                    "currentTimezoneOffset",
                    "segmentList",
                    "description",
                    "modified",
                    "isDeleted",
                    "dataCurrentAsOf",
                    "compatibility",
                    "dataSchema",
                    "sessionDefinition",
                    "curatedComponents",
                    "type",
                    "backgroundSessionsEnabled"
                  ]
                }
              }
            },
            {
              "name": "filterByIds",
              "in": "query",
              "description": "filter list to only include specified virtual report suites",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "idContains",
              "in": "query",
              "description": "Filter list to only include suites whose id contains idContains",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "segmentIds",
              "in": "query",
              "description": "Filter list to only include virtual report suites that have a segment in this Comma-delimited list of segmentids",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "500": {
              "description": "Unexpected error; virtual report suite search failed",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/definitions/AnalyticsAsrErrorResponse"
                  }
                }
              }
            },
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/definitions/VirtualReportSuite"
                  }
                }
              }
            }
          }
        },
        "post": {
          "tags": [
            "Virtual Report Suites"
          ],
          "summary": "Creates a new virtual report suite",
          "description": "Creates a virtual report suite. The following attributes are required when creating a virtual report suite: name, parentRsid, and segmentList",
          "operationId": "userCreateVirtualReportSuite",
          "parameters": [
            {
              "name": "expansion",
              "in": "query",
              "description": "Comma-delimited list of additional virtual report suite metadata fields to include on response",
              "required": false,
              "style": "form",
              "explode": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "globalCompanyKey",
                    "parentRsid",
                    "parentRsidName",
                    "timezone",
                    "timezoneZoneinfo",
                    "currentTimezoneOffset",
                    "segmentList",
                    "description",
                    "modified",
                    "isDeleted",
                    "dataCurrentAsOf",
                    "compatibility",
                    "dataSchema",
                    "sessionDefinition",
                    "curatedComponents",
                    "type",
                    "backgroundSessionsEnabled"
                  ]
                }
              }
            }
          ],
          "requestBody": {
            "description": "Virtual report suite creation JSON object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/VirtualReportSuite"
                }
              }
            }
          },
          "responses": {
            "500": {
              "description": "Unexpected error; Virtual report suite create failed",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/definitions/AnalyticsAsrErrorResponse"
                  }
                }
              }
            },
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/definitions/VirtualReportSuite"
                  }
                }
              }
            }
          }
        }
      },
      "/reportsuites/virtualreportsuites/{id}": {
        "get": {
          "tags": [
            "reportsuites"
          ],
          "summary": "Retrieves a single virtual report suite by ID",
          "operationId": "userGetVirtualReportSuite",
          "parameters": [
            {
              "name": "expansion",
              "in": "query",
              "description": "Comma-delimited list of additional virtual report suite metadata fields to include on response",
              "required": false,
              "style": "form",
              "explode": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "globalCompanyKey",
                    "parentRsid",
                    "parentRsidName",
                    "timezone",
                    "timezoneZoneinfo",
                    "currentTimezoneOffset",
                    "segmentList",
                    "description",
                    "modified",
                    "isDeleted",
                    "dataCurrentAsOf",
                    "compatibility",
                    "dataSchema",
                    "sessionDefinition",
                    "curatedComponents",
                    "type",
                    "backgroundSessionsEnabled"
                  ]
                }
              }
            },
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "404": {
              "description": "Could not find the virtual report suite for the given id",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/definitions/AnalyticsAsrErrorResponse"
                  }
                }
              }
            },
            "500": {
              "description": "Unexpected error; virtual report suite retrieval failed",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/definitions/AnalyticsAsrErrorResponse"
                  }
                }
              }
            },
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/definitions/VirtualReportSuite"
                  }
                }
              }
            }
          }
        },
        "put": {
          "tags": [
            "Virtual Report Suites"
          ],
          "summary": "Update configuration for a virtual report suite",
          "operationId": "userUpdateVirtualReportSuite",
          "parameters": [
            {
              "name": "expansion",
              "in": "query",
              "description": "Comma-delimited list of additional virtual report suite metadata fields to include on response",
              "required": false,
              "style": "form",
              "explode": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "globalCompanyKey",
                    "parentRsid",
                    "parentRsidName",
                    "timezone",
                    "timezoneZoneinfo",
                    "currentTimezoneOffset",
                    "segmentList",
                    "description",
                    "modified",
                    "isDeleted",
                    "dataCurrentAsOf",
                    "compatibility",
                    "dataSchema",
                    "sessionDefinition",
                    "curatedComponents",
                    "type",
                    "backgroundSessionsEnabled"
                  ]
                }
              }
            },
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "description": "Virtual report suite creation JSON object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/VirtualReportSuite"
                }
              }
            }
          },
          "responses": {
            "500": {
              "description": "Unexpected error; virtual report suite update failed",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/definitions/AnalyticsAsrErrorResponse"
                  }
                }
              }
            },
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/definitions/VirtualReportSuite"
                  }
                }
              }
            }
          }
        },
        "delete": {
          "tags": [
            "Virtual Report Suites"
          ],
          "summary": "Delete virtual report suite",
          "description": "Deletes or disables a virtual report suite by ID",
          "operationId": "userDeleteVirtualReportSuite",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "The virtual report suite ID to be deleted",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "500": {
              "description": "Unexpected error; virtual report suite deletion failed",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/definitions/AnalyticsAsrErrorResponse"
                  }
                }
              }
            },
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/definitions/DeleteResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/reportsuites/virtualreportsuites/validate": {
        "post": {
          "tags": [
            "reportsuites"
          ],
          "summary": "Validates a virtual report suite",
          "operationId": "userValidateVirtualReportSuite",
          "parameters": [],
          "requestBody": {
            "description": "Virtual report suite creation JSON object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/VirtualReportSuite"
                }
              }
            }
          },
          "responses": {
            "500": {
              "description": "Unexpected error; Virtual report suite validation failed",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/definitions/AnalyticsAsrErrorResponse"
                  }
                }
              }
            },
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/definitions/VrsCompatibility"
                  }
                }
              }
            }
          }
        }
      },
      "/reportsuites/virtualreportsuites/search": {
        "post": {
          "tags": [
            "reportsuites"
          ],
          "summary": "Retrieves many virtual report suites using the given search criteria",
          "operationId": "searchAll",
          "parameters": [
            {
              "name": "limit",
              "in": "query",
              "description": "Number of results per page",
              "schema": {
                "type": "string",
                "default": "10"
              }
            },
            {
              "name": "page",
              "in": "query",
              "description": "Page number (base 0 - first page is \"0\")",
              "schema": {
                "type": "string",
                "default": "0"
              }
            },
            {
              "name": "expansion",
              "in": "",
              "description": "Comma-delimited list of additional virtual report suite metadata fields to include on response",
              "required": false,
              "style": "form",
              "explode": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "globalCompanyKey",
                    "parentRsid",
                    "parentRsidName",
                    "timezone",
                    "timezoneZoneinfo",
                    "currentTimezoneOffset",
                    "segmentList",
                    "description",
                    "modified",
                    "isDeleted",
                    "dataCurrentAsOf",
                    "compatibility",
                    "dataSchema",
                    "sessionDefinition",
                    "curatedComponents",
                    "type",
                    "backgroundSessionsEnabled"
                  ]
                }
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/x-www-form-urlencoded": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "expansion": {
                      "type": "string"
                    },
                    "filterByIds": {
                      "type": "string"
                    },
                    "idContains": {
                      "type": "string"
                    },
                    "segmentIds": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "500": {
              "description": "Unexpected error; virtual report suite search failed",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/definitions/AnalyticsAsrErrorResponse"
                  }
                }
              }
            },
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/definitions/VirtualReportSuite"
                  }
                }
              }
            }
          }
        }
      },
      "/reportsuites/reportsuites/timezones": {
        "get": {
          "tags": [
            "reportsuites"
          ],
          "summary": "Get Timezones",
          "description": "Retrieves all supported timezones.",
          "operationId": "getTimezones_1",
          "parameters": [],
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/definitions/TimezoneSettings"
                  }
                }
              }
            }
          }
        }
      },  
      "/auditlogs/usage": {
              "get": {
                  "tags": ["usagelogs"],
                  "summary": "Retrieves usage and access logs for the search criteria provided.",
                  "description": "This API returns the usage and access logs for a given date range within a 3 month period. This API authenticates with an IMS user token.",
                  "operationId": "getUsageAccessLogs",
                  "parameters": [{
                      "name": "startDate",
                      "in": "query",
                      "description": "Start date for the maximum of a 3 month period.",
                      "required": true,
                      "type": "string",
                      "default": "2021-01-01T00:00:00-07"
                  }, {
                      "name": "endDate",
                      "in": "query",
                      "description": "End date for the maximum of a 3 month period.",
                      "required": true,
                      "type": "string",
                      "default": "2021-01-02T14:32:33-07"
                  }, {
                      "name": "login",
                      "in": "query",
                      "description": "The login value of the user you want to filter logs by.",
                      "type": "string"
                  }, {
                      "name": "ip",
                      "in": "query",
                      "description": "The IP address you want to filter logs by.",
                      "type": "string"
                  }, {
                      "name": "rsid",
                      "in": "query",
                      "description": "The report suite ID you want to filter logs by.",
                      "type": "string"
                  }, {
                      "name": "eventType",
                      "in": "query",
                      "description": "The numeric id for the event type you want to filter logs by.",
                      "type": "string"
                  }, {
                      "name": "event",
                      "in": "query",
                      "description": "The event description you want to filter logs by. No wildcards permitted.",
                      "type": "string"
                  }, {
                      "name": "limit",
                      "in": "query",
                      "description": "Number of results per page.",
                      "type": "integer",
                      "format": "int32",
                      "default": 10
                  }, {
                      "name": "page",
                      "in": "query",
                      "description": "Page number (base 0 - first page is \"0\").",
                      "type": "integer",
                      "format": "int32",
                      "default": 0
                  }],
                  "responses": {
                      "500": {
                          "description": "External API Error; Data could not be retrieved."
                      },
                      "400": {
                          "description": "Invalid Request. Please check parameters."
                      },
                      "403": {
                          "description": "User does not have permission to view this data."
                      },
                      "200": {
                          "description": "Successful",
                          "schema": {
                              "$ref": "#/definitions/ResponsePageUsageLogDto"
                          }
                      }
                  }
              }
      }
    },
    "definitions" : {
			"AnalyticsAsrErrorResponse": {
				"properties": {
					"errorDescription": {
						"type": "string"
					},
					"errorCode": {
						"type": "string"
					},
					"errorId": {
						"type": "string"
					}
				}
			},
      "AnalyticsCalculatedMetric" : {
        "type" : "object",
        "required" : [ "definition" ],
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "System generated id",
            "readOnly" : true
          },
          "name" : {
            "type" : "string"
          },
          "description" : {
            "type" : "string"
          },
          "rsid" : {
            "type" : "string",
            "description" : "The report suite id for which the component was created/updated"
          },
          "reportSuiteName" : {
            "type" : "string",
            "description" : "The report suite name for which the component was created/updated",
            "readOnly" : true
          },
          "owner" : {
            "$ref" : "#/definitions/Owner"
          },
          "polarity" : {
            "type" : "string",
            "description" : "Set metric polarity, which indicates whether it's good or bad if a given metric goes up. Default=positive",
            "enum" : [ "positive", "negative" ]
          },
          "precision" : {
            "type" : "integer",
            "format" : "int32",
            "description" : "Number of decimal places to include in calculated metric result"
          },
          "type" : {
            "type" : "string",
            "enum" : [ "CURRENCY", "TIME", "DECIMAL", "PERCENT" ]
          },
          "definition" : {
            "description" : "Calculated metric definition object",
            "$ref" : "#/definitions/CalculatedMetricDef"
          },
          "categories" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "tags" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/Tag"
            }
          },
          "siteTitle" : {
            "type" : "string"
          },
          "modified" : {
            "type" : "string",
            "format" : "date-time"
          },
          "created" : {
            "type" : "string",
            "format" : "date-time",
            "description" : "Calculated metric creation date",
            "readOnly" : true
          }
        }
      },
      "AnalyticsDateRange" : {
[...]
