{
  "swagger" : "2.0",
  "info" : {
    "description" : "The endpoints described here are routed through Adobe.io. In order to use these endpoints you must create an oAuth client that is subscribed to access the Adobe Analytics Reporting API.",
    "version" : "v1 - Build: 2018-07-20T16:45:37Z",
    "title" : "Analytics Services APIs"
  },
  "host" : "analytics.adobe.io",
  "basePath" : "/",
  "tags" : [ {
    "name" : "approvals",
    "description" : "Operations on approvals"
  }, {
    "name" : "calculatedmetrics"
  }, {
    "name" : "classifications"
  }, {
    "name" : "collections",
    "description" : "Analytics Collections"
  }, {
    "name" : "companies",
    "description" : "Analytics Company Service"
  }, {
    "name" : "dimensions",
    "description" : "Dimensions service"
  }, {
    "name" : "favorites",
    "description" : "Operations on managing favorites on components"
  }, {
    "name" : "metrics",
    "description" : "Retrieves a List of Metrics for the Given Report Suite"
  }, {
    "name" : "reports",
    "description" : "Ranked reports service"
  }, {
    "name" : "reportsuites",
    "description" : "Analytics Report Suite Service"
  }, {
    "name" : "segments",
    "description" : "These operations manage Adobe Analytics Segments. Segments are used to isolate interesting groups of visitors, visits, or hits."
  }, {
    "name" : "tags",
    "description" : "Operations on tags"
  }, {
    "name" : "timezones",
    "description" : " Timezone Operations"
  }, {
    "name" : "virtualreportsuites",
    "description" : "Operations on virtual report suites"
  } ],
  "schemes" : [ "https" ],
  "paths" : {
    "/approvals" : {
      "get" : {
        "tags" : [ "approvals" ],
        "summary" : "Returns a list of approval objects for the current user. Response is paged based on the provided paging criteria.",
        "description" : "",
        "operationId" : "findAllForCurrentUser",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "userid",
          "in" : "query",
          "description" : "The user ID to return details for. Only admins may use this query parameter.",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of results per page",
          "required" : false,
          "type" : "integer",
          "default" : 10
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Page number (base 0 - first page is \"0\")",
          "required" : false,
          "type" : "integer",
          "default" : 0
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Approval"
              }
            }
          },
          "400" : {
            "description" : "Invalid JSON input"
          },
          "403" : {
            "description" : "Insufficient access to perform operation"
          },
          "500" : {
            "description" : "Internal Server Error; unable to retrieve approvals"
          }
        }
      },
      "post" : {
        "tags" : [ "approvals" ],
        "summary" : "Marks an item as approved",
        "description" : "Takes an array of components and marks them all as \"Approved\"",
        "operationId" : "save",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Array containing a list of Component objects to be marked as \"Approved\"",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/Approval"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Approval"
            }
          },
          "400" : {
            "description" : "Invalid JSON input"
          },
          "403" : {
            "description" : "Insufficient access to perform operation; only admins can approve components"
          },
          "500" : {
            "description" : "Internal Server Error; unable to create approvals for the specified components"
          }
        }
      },
      "delete" : {
        "tags" : [ "approvals" ],
        "summary" : "Un-approve the specified components (delete approvals)",
        "description" : "Only Admins can create and delete approvals.",
        "operationId" : "deleteByItemIds",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "componentType",
          "in" : "query",
          "description" : "Type of component ",
          "required" : true,
          "type" : "string",
          "enum" : [ "segment", "dashboard", "bookmark", "calculatedMetric", "project", "dateRange", "metric", "dimension", "virtualReportSuite", "scheduledJob", "alert", "classificationSet" ]
        }, {
          "name" : "componentIds",
          "in" : "query",
          "description" : "Comma-delimited list of componentIds for which to remove approvals",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "additionalProperties" : {
                  "type" : "object"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid JSON input"
          },
          "403" : {
            "description" : "Insufficient access to perform operation; only admins can un-approve a segment"
          },
          "500" : {
            "description" : "Internal Server Error; unable to delete approvals for the specified components"
          }
        }
      }
    },
    "/approvals/{id}" : {
      "get" : {
        "tags" : [ "approvals" ],
        "summary" : "Retrieves an approval object by its id",
        "description" : "",
        "operationId" : "findOne",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The approval ID to be returned",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Approval"
            }
          },
          "403" : {
            "description" : "Insufficient access to perform operation"
          },
          "404" : {
            "description" : "The specified approvalId could not be found"
          },
          "500" : {
            "description" : "Internal Server Error; unable to retrieve the specified approval"
          }
        }
      },
      "delete" : {
        "tags" : [ "approvals" ],
        "summary" : "Deletes the approval with the given id",
        "description" : "Only admins can create and delete approvals",
        "operationId" : "deleteByApprovalID",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The approval ID to be deleted",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "object"
              }
            }
          },
          "403" : {
            "description" : "Insufficient access to perform operation; user does not have access to delete the approval."
          },
          "404" : {
            "description" : "The specified approval does not exist"
          },
          "500" : {
            "description" : "Internal Server Error; unable to delete the specified approval"
          }
        }
      }
    },
    "/calculatedmetrics" : {
      "get" : {
        "tags" : [ "calculatedmetrics" ],
        "summary" : "Retrieve many calculated metrics",
        "description" : "A calculated metric response will always include these default items: *id, name, description, rsid, owner* \n\nOther attributes can be optionally requested through the 'expansion' field:\n\n* *modified*: Date that the metric was last modified (ISO 8601)\n* *definition*: Calculated metric definition as JSON object\n* *compatibility*: Products that the metric is compatible with\n* *reportSuiteName*: Also return the friendly Report Suite name for the RSID\n* *favorite*: True if calculated metric has been marked as a 'Favorite'\n* *tags*: Gives all existing tags associated with the calculated metric\n* *approved*: True if calculated metric has been marked as 'Approved'\n* *shares*: Gives all existing shares for the calculated metric\n* *sharesFullName*: Give 'shares', but also include the shared-to user's friendly login name as 'shareToDisplayName' in each share object\n* *ownerFullName*: Add friendly full login name (string) to the 'owner' object\n\n",
        "operationId" : "findCalculatedMetrics",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "rsids",
          "in" : "query",
          "description" : "Filter list to only include calculated metrics tied to specified RSID list (comma-delimited)",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "ownerId",
          "in" : "query",
          "description" : "Filter list to only include calculated metrics owned by the specified loginId",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "calculatedMetricFilter",
          "in" : "query",
          "description" : "Filter list to only include calculated metrics in the specified list (comma-delimited list of IDs)",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "filterByIds",
          "in" : "query",
          "description" : "Filter list to only include calculated metrics in the specified list (comma-delimited list of IDs) (this is the same as calculatedMetricFilter, and is overwritten by calculatedMetricFilter",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "locale",
          "in" : "query",
          "description" : "Locale",
          "required" : false,
          "type" : "string",
          "default" : "en_US"
        }, {
          "name" : "name",
          "in" : "query",
          "description" : "Filter list to only include calculated metrics that contains the Name",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "tagNames",
          "in" : "query",
          "description" : "Filter list to only include calculated metrics that contains one of the tags",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "favorite",
          "in" : "query",
          "description" : "Filter list to only include calculated metrics that are favorites",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "approved",
          "in" : "query",
          "description" : "Filter list to only include calculated metrics that are approved",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "pagination",
          "in" : "query",
          "description" : "return paginated results",
          "required" : false,
          "type" : "string",
          "default" : "false",
          "enum" : [ "true", "false" ]
        }, {
          "name" : "filterByModifiedAfter",
          "in" : "query",
          "description" : "Filter list to only include calculated metrics modified since this date (ISO8601 format)",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of results per page",
          "required" : false,
          "type" : "integer",
          "default" : 10
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Page number (base 0 - first page is \"0\")",
          "required" : false,
          "type" : "integer",
          "default" : 0
        }, {
          "name" : "expansion",
          "in" : "query",
          "description" : "Comma-delimited list of additional calculated metric metadata fields to include on response.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "reportSuiteName", "siteTitle", "ownerFullName", "modified", "isDeleted", "approved", "favorite", "shares", "tags", "sharesFullName", "usageSummary", "usageSummaryWithRelevancyScore", "definition", "authorization", "compatibility", "warning" ]
          },
          "collectionFormat" : "multi",
          "enum" : [ "reportSuiteName", "siteTitle", "ownerFullName", "modified", "isDeleted", "approved", "favorite", "shares", "tags", "sharesFullName", "usageSummary", "usageSummaryWithRelevancyScore", "definition", "authorization", "compatibility", "warning" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/AnalyticsCalculatedMetric"
              }
            }
          },
          "400" : {
            "description" : "Unable to retrieve list of calculated metrics shared with user",
            "schema" : {
              "$ref" : "#/definitions/CalculatedMetricErrorStatus"
            }
          },
          "401" : {
            "description" : "Owner filter error; user specified is not in the same company as the requesting user",
            "schema" : {
              "$ref" : "#/definitions/CalculatedMetricErrorStatus"
            }
          },
          "403" : {
            "description" : "Requesting non-shared calculated metrics for other users is restricted to admin users",
            "schema" : {
              "$ref" : "#/definitions/CalculatedMetricErrorStatus"
            }
          },
          "500" : {
            "description" : "External API error; Calculated metric retrieval failed",
            "schema" : {
              "$ref" : "#/definitions/CalculatedMetricErrorStatus"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "calculatedmetrics" ],
        "summary" : "Create a new Calculated Metric",
        "description" : "Creates a new calculated metric. The following attributes are available when creating a calculated metric:\n\nIMPORTANT: Required Fields: name, definition, rsid\n\nOptional fields: description\n\nExample definition for use in testing API below (\"Page exists\"):\n\n```json\n\n{\"definition\":{},\"version\":[1,0,0]}\n```\n\nA calculated metric response will always include these default items:* id, name, description, rsid, owner* \n\nOther attributes can be optionally requested through the 'expansion' field as defined/documented in the GET endpoints (see GET \"/calculatedmetrics\" or GET \"/calculatedmetrics/{id}\" for more documentation).",
        "operationId" : "calculatedmetrics_createCalculatedMetric",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "JSON-formatted Object containing key/value pairs for calculated metric creation.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/AnalyticsCalculatedMetric"
          }
        }, {
          "name" : "locale",
          "in" : "query",
          "description" : "Locale",
          "required" : false,
          "type" : "string",
          "default" : "en_US"
        }, {
          "name" : "expansion",
          "in" : "query",
          "description" : "Comma-delimited list of additional calculated metric metadata fields to include on response.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "reportSuiteName", "siteTitle", "ownerFullName", "modified", "isDeleted", "approved", "favorite", "shares", "tags", "sharesFullName", "usageSummary", "usageSummaryWithRelevancyScore", "definition", "authorization", "compatibility", "warning" ]
          },
          "collectionFormat" : "multi",
          "enum" : [ "reportSuiteName", "siteTitle", "ownerFullName", "modified", "isDeleted", "approved", "favorite", "shares", "tags", "sharesFullName", "usageSummary", "usageSummaryWithRelevancyScore", "definition", "authorization", "compatibility", "warning" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/AnalyticsCalculatedMetric"
            }
          },
          "400" : {
            "description" : "Invalid input; name, rsid, and definition are all required. Definition must be formatted as a JSON Object.",
            "schema" : {
              "$ref" : "#/definitions/CalculatedMetricErrorStatus"
            }
          },
          "500" : {
            "description" : "External API error; Calculated metric create or retrieval failed",
            "schema" : {
              "$ref" : "#/definitions/CalculatedMetricErrorStatus"
            }
          }
        }
      }
    },
    "/calculatedmetrics/functions" : {
      "get" : {
        "tags" : [ "calculatedmetrics" ],
        "summary" : "Retrieve calculated metric functions",
        "description" : "",
        "operationId" : "getCalculatedMetricFunctions",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "locale",
          "in" : "query",
          "description" : "Locale",
          "required" : false,
          "type" : "string",
          "default" : "en_US"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/CalcMetricFunction"
              }
            }
          },
          "500" : {
            "description" : "External API error; Calculated metric functions retrieval failed",
            "schema" : {
              "$ref" : "#/definitions/CalculatedMetricErrorStatus"
            }
          }
        }
      }
    },
    "/calculatedmetrics/functions/{id}" : {
      "get" : {
        "tags" : [ "calculatedmetrics" ],
        "summary" : "Retrieve a calculated metric function by id",
        "description" : "",
        "operationId" : "getCalculatedMetricFunction",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The function ID to retrieve",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "locale",
          "in" : "query",
          "description" : "Locale",
          "required" : false,
          "type" : "string",
          "default" : "en_US"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/CalcMetricFunction"
            }
          },
          "404" : {
            "description" : "Calculated metric function not found",
            "schema" : {
              "$ref" : "#/definitions/CalculatedMetricErrorStatus"
            }
          },
          "500" : {
            "description" : "External API error; Calculated metric function retrieval failed",
            "schema" : {
              "$ref" : "#/definitions/CalculatedMetricErrorStatus"
            }
          }
        }
      }
    },
    "/calculatedmetrics/{id}" : {
      "get" : {
        "tags" : [ "calculatedmetrics" ],
        "summary" : "Retrieve a single calculated metric by id",
        "description" : "A calculated metric response will always include these default items: *id, name, description, rsid, owner* \n\nOther attributes can be optionally requested through the 'expansion' field:\n\n* *modified*: Date that the metric was last modified (ISO 8601)\n* *definition*: Calculated metric definition as JSON object\n* *compatibility*: Products that the metric is compatible with\n* *reportSuiteName*: Also return the friendly Report Suite name for the RSID\n* *favorite*: True if calculated metric has been marked as a 'Favorite'\n* *tags*: Gives all existing tags associated with the calculated metric\n* *approved*: True if calculated metric has been marked as 'Approved'\n* *shares*: Gives all existing shares for the calculated metric\n* *sharesFullName*: Give 'shares', but also include the shared-to user's friendly login name as 'shareToDisplayName' in each share object\n* *ownerFullName*: Add friendly full login name (string) to the 'owner' object\n\n",
        "operationId" : "findOneCalculatedMetric",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The calculated metric ID to retrieve",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "locale",
          "in" : "query",
          "description" : "Locale",
          "required" : false,
          "type" : "string",
          "default" : "en_US"
        }, {
          "name" : "expansion",
          "in" : "query",
          "description" : "Comma-delimited list of additional calculated metric metadata fields to include on response.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "reportSuiteName", "siteTitle", "ownerFullName", "modified", "isDeleted", "approved", "favorite", "shares", "tags", "sharesFullName", "usageSummary", "usageSummaryWithRelevancyScore", "definition", "authorization", "compatibility", "warning" ]
          },
          "collectionFormat" : "multi",
          "enum" : [ "reportSuiteName", "siteTitle", "ownerFullName", "modified", "isDeleted", "approved", "favorite", "shares", "tags", "sharesFullName", "usageSummary", "usageSummaryWithRelevancyScore", "definition", "authorization", "compatibility", "warning" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/AnalyticsCalculatedMetric"
            }
          },
          "403" : {
            "description" : "Requesting non-shared calculated metrics for other users is restricted to admin users",
            "schema" : {
              "$ref" : "#/definitions/CalculatedMetricErrorStatus"
            }
          },
          "500" : {
            "description" : "External API error; calculated metric retrieval failed",
            "schema" : {
              "$ref" : "#/definitions/CalculatedMetricErrorStatus"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "calculatedmetrics" ],
        "summary" : "Update an existing calculated metric",
        "description" : "The following fields can be modified through this endpoint: <br><b>name, description, definition, owner, rsid</b>Example \"defintion\" for use in testing API below (\"Page exists\"):<br>\"definition\":{},\"version\":[1,0,0]}<br><br>Response will be the newly modified calculated metric object after the update request completes.<br><br><b><span style=\"text-decoration: underline;\">CalculatedMetricResponse</span></b><br>A calculated metric response will always include these default items:* id, name, description, rsid, owner* \n\nOther attributes can be optionally requested through the 'expansion' field as defined/documented in the GET endpoints (see GET \"/calculatedmetrics\" or GET \"/calculatedmetrics/{id}\" for more documentation).",
        "operationId" : "updateCalculatedMetric",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Calculated Metric ID to be updated",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "JSON-formatted Object containing key/value pairs to be updated.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/AnalyticsCalculatedMetric"
          }
        }, {
          "name" : "locale",
          "in" : "query",
          "description" : "Locale",
          "required" : false,
          "type" : "string",
          "default" : "en_US"
        }, {
          "name" : "expansion",
          "in" : "query",
          "description" : "Comma-delimited list of additional calculated metric metadata fields to include on response.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "reportSuiteName", "siteTitle", "ownerFullName", "modified", "isDeleted", "approved", "favorite", "shares", "tags", "sharesFullName", "usageSummary", "usageSummaryWithRelevancyScore", "definition", "authorization", "compatibility", "warning" ]
          },
          "collectionFormat" : "multi",
          "enum" : [ "reportSuiteName", "siteTitle", "ownerFullName", "modified", "isDeleted", "approved", "favorite", "shares", "tags", "sharesFullName", "usageSummary", "usageSummaryWithRelevancyScore", "definition", "authorization", "compatibility", "warning" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/AnalyticsCalculatedMetric"
            }
          },
          "400" : {
            "description" : "Definition must be formatted as a JSON Object",
            "schema" : {
              "$ref" : "#/definitions/CalculatedMetricErrorStatus"
            }
          },
          "401" : {
            "description" : "Company mismatch; calculated metric ownership can only be transferred within the same organization",
            "schema" : {
              "$ref" : "#/definitions/CalculatedMetricErrorStatus"
            }
          },
          "403" : {
            "description" : "User does not have permission to update this calculated metric",
            "schema" : {
              "$ref" : "#/definitions/CalculatedMetricErrorStatus"
            }
          },
          "500" : {
            "description" : "External API error; Calculated metric update or retrieval failed",
            "schema" : {
              "$ref" : "#/definitions/CalculatedMetricErrorStatus"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "calculatedmetrics" ],
        "summary" : "Deletion of Calculated Metrics by Id",
        "description" : "",
        "operationId" : "deleteCalculatedMetric",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The calculated metric ID to be deleted",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "locale",
          "in" : "query",
          "description" : "Locale",
          "required" : false,
          "type" : "string",
          "default" : "en_US"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/DeleteResponse"
            }
          },
          "500" : {
            "description" : "External API error; Calculated metric delete failed",
            "schema" : {
              "$ref" : "#/definitions/CalculatedMetricErrorStatus"
            }
          }
        }
      }
    },
    "/classifications/dataset" : {
      "get" : {
        "tags" : [ "classifications" ],
        "summary" : "Retrieves all classification sets.",
        "description" : "",
        "operationId" : "getClassificationSets",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "Page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Documents per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "sortField",
          "in" : "query",
          "description" : "Sort field",
          "required" : false,
          "type" : "string",
          "enum" : [ "name", "modified", "created" ]
        }, {
          "name" : "sortOrder",
          "in" : "query",
          "description" : "Sort order",
          "required" : false,
          "type" : "string",
          "enum" : [ "asc", "desc" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/ClassificationSet"
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "classifications" ],
        "summary" : "Creates a classification set.",
        "description" : "",
        "operationId" : "createClassificationSet",
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ClassificationSet"
            }
          }
        }
      }
    },
    "/classifications/dataset/search" : {
      "post" : {
        "tags" : [ "classifications" ],
        "summary" : "Retrieves classification sets based on search criteria.",
        "description" : "",
        "operationId" : "searchClassificationSets",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "Page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Documents per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "sortField",
          "in" : "query",
          "description" : "Sort field",
          "required" : false,
          "type" : "string",
          "enum" : [ "name", "modified", "created" ]
        }, {
          "name" : "sortOrder",
          "in" : "query",
          "description" : "Sort order",
          "required" : false,
          "type" : "string",
          "enum" : [ "asc", "desc" ]
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "JSON-formatted Object containing key/value pairs for search.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ClassificationSetFilterArgs"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/ClassificationSet"
              }
            }
          }
        }
      }
    },
    "/classifications/dataset/{id}" : {
      "get" : {
        "tags" : [ "classifications" ],
        "summary" : "Retrieves a single classification set.",
        "description" : "",
        "operationId" : "getClassificationSet",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The id for which to retrieve information",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ClassificationSet"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "classifications" ],
        "summary" : "Updates a classification set.",
        "description" : "",
        "operationId" : "updateClassificationSet",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The id for the classification set to update",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ClassificationSet"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "classifications" ],
        "summary" : "Deletes a classification set.",
        "description" : "",
        "operationId" : "deleteClassificationSet",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The id for the classification set to delete",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ClassificationSet"
            }
          }
        }
      }
    },
    "/classifications/dataset/{id}/export" : {
      "post" : {
        "tags" : [ "classifications" ],
        "summary" : "Creates an export job for a classification set.",
        "description" : "",
        "operationId" : "exportJob",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The id for the classification set for which to import data",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Job export options",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/JobExportOptions"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ClassificationJob"
            }
          }
        }
      }
    },
    "/classifications/jobs" : {
      "get" : {
        "tags" : [ "classifications" ],
        "summary" : "Retrieves classification jobs.",
        "description" : "",
        "operationId" : "getJobs",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "datasetId",
          "in" : "query",
          "description" : "ClassificationSetId filter",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Documents per page (minimum limit is 10)",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "sortField",
          "in" : "query",
          "description" : "Sort field",
          "required" : false,
          "type" : "string",
          "enum" : [ "type", "name" ]
        }, {
          "name" : "sortOrder",
          "in" : "query",
          "description" : "Sort order",
          "required" : false,
          "type" : "string",
          "enum" : [ "asc", "desc" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/ClassificationJob"
              }
            }
          }
        }
      }
    },
    "/classifications/jobs/{id}" : {
      "get" : {
        "tags" : [ "classifications" ],
        "summary" : "Retrieves a single classification job.",
        "description" : "",
        "operationId" : "getJob",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The job id for which to retrieve information",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ClassificationJob"
            }
          }
        }
      }
    },
    "/classifications/jobs/{id}/artifact" : {
      "get" : {
        "tags" : [ "classifications" ],
        "summary" : "Retrieves info about the first artifact for a given job id.",
        "description" : "",
        "operationId" : "getFirstArtifact",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The job id for which to retrieve information",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/JobArtifactResponse"
            }
          }
        }
      }
    },
    "/classifications/jobs/{id}/artifact/{artifactId}" : {
      "get" : {
        "tags" : [ "classifications" ],
        "summary" : "Retrieves the artifact for a given job and artifact id.",
        "description" : "",
        "operationId" : "getArtifact",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The job id for which to retrieve information",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "artifactId",
          "in" : "path",
          "description" : "The artifact id for which to retrieve information",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/classifications/unclassified/{classificationSetId}" : {
      "get" : {
        "tags" : [ "classifications" ],
        "summary" : "Runs an oberon report to get unclassifed values for the given classification set.",
        "description" : "",
        "operationId" : "runUnclassifiedValuesReport",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "classificationSetId",
          "in" : "path",
          "description" : "The id for which to retrieve information",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "rsid",
          "in" : "query",
          "description" : "RSID to run the report against",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "dimension",
          "in" : "query",
          "description" : "Dimension to run the report against",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "dateRange",
          "in" : "query",
          "description" : "Format: YYYY-MM-DD/YYYY-MM-DD",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "startDate",
          "in" : "query",
          "description" : "Format: YYYY-MM-DD",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "endDate",
          "in" : "query",
          "description" : "Format: YYYY-MM-DD",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "allowRemoteLoad",
          "in" : "query",
          "description" : "Controls if Oberon should remote load data.  Default behavior is true with fallback to false if remote data does not exist",
          "required" : false,
          "type" : "string",
          "default" : "default",
          "enum" : [ "true", "false", "default" ]
        }, {
          "name" : "includeOberonXml",
          "in" : "query",
          "description" : "Controls if Oberon XML should be returned in the response - DEBUG ONLY",
          "required" : false,
          "type" : "boolean",
          "default" : false,
          "enum" : [ "true", "false" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RankedReportData"
            }
          }
        }
      }
    },
    "/collections/suites" : {
      "get" : {
        "tags" : [ "collections" ],
        "summary" : "Retrieves report suites that match the given filters.",
        "description" : "",
        "operationId" : "findAll",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "userGroupId",
          "in" : "query",
          "description" : "Filter list to only include suites that are in the given userGroupId",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "rsids",
          "in" : "query",
          "description" : "Filter list to only include suites in this RSID list (comma-delimited)",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "rsidContains",
          "in" : "query",
          "description" : "Filter list to only include suites whose rsid contains rsidContains.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of results per page",
          "required" : false,
          "type" : "integer",
          "default" : 10
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Page number (base 0 - first page is \"0\")",
          "required" : false,
          "type" : "integer",
          "default" : 0
        }, {
          "name" : "expansion",
          "in" : "query",
          "description" : "Comma-delimited list of additional metadata fields to include on response.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "name", "parentRsid", "numGroups", "currency", "calendarType", "currentTimezoneOffset", "timezoneZoneinfo" ]
          },
          "collectionFormat" : "multi",
          "enum" : [ "name", "parentRsid", "numGroups", "currency", "calendarType", "currentTimezoneOffset", "timezoneZoneinfo" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/SuiteCollectionItem"
            }
          },
          "500" : {
            "description" : "Unexpected error; report suite retrieval failed"
          }
        }
      }
    },
    "/collections/suites/{rsid}" : {
      "get" : {
        "tags" : [ "collections" ],
        "summary" : "Retrieves report suite by id",
        "description" : "",
        "operationId" : "findOne",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "rsid",
          "in" : "path",
          "description" : "The rsid of the suite to return",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "expansion",
          "in" : "query",
          "description" : "Comma-delimited list of additional metadata fields to include on response.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "name", "parentRsid", "numGroups", "currency", "calendarType", "currentTimezoneOffset", "timezoneZoneinfo" ]
          },
          "collectionFormat" : "multi",
          "enum" : [ "name", "parentRsid", "numGroups", "currency", "calendarType", "currentTimezoneOffset", "timezoneZoneinfo" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/SuiteCollectionItem"
            }
          },
          "500" : {
            "description" : "Unexpected error; report suite retrieval failed"
          }
        }
      }
    },
    "/companies/me" : {
      "get" : {
        "tags" : [ "companies" ],
        "summary" : "Retrieves information about the login company for the current user.",
        "description" : "",
        "operationId" : "getUserCompany",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "expansion",
          "in" : "query",
          "description" : "Comma-delimited list of company expansions.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "validEmails", "allowAdobeEmails", "companySecurity", "billingTabAccess" ]
          },
          "collectionFormat" : "multi",
          "enum" : [ "validEmails", "allowAdobeEmails", "companySecurity", "billingTabAccess" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Company"
            }
          },
          "500" : {
            "description" : "Unexpected error; company retrieval failed"
          }
        }
      }
    },
    "/companies/me/trackingserver" : {
      "get" : {
        "tags" : [ "companies" ],
        "summary" : "Retrieves the tracking server for the login company of the current user.",
        "description" : "",
        "operationId" : "getTrackingServer",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "rsid",
          "in" : "query",
          "description" : "The rsid to use if this company does not require namespace use.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/AnalyticsTrackingServer"
            }
          },
          "500" : {
            "description" : "Unexpected error; tracking server retrieval failed"
          }
        }
      }
    },
    "/dimensions" : {
      "get" : {
        "tags" : [ "dimensions" ],
        "summary" : "Returns a list of dimensions for a given report suite.",
        "description" : "",
        "operationId" : "dimensions_getDimensions",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "rsid",
          "in" : "query",
          "description" : "A Report Suite ID",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "locale",
          "in" : "query",
          "description" : "Locale",
          "required" : false,
          "type" : "string",
          "default" : "en_US"
        }, {
          "name" : "support",
          "in" : "query",
          "description" : "Comma-delimited list of products to filter the dimension list by. Possible values are 'oberon' and 'dataWarehouse'.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "oberon", "dataWarehouse" ]
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "segmentable",
          "in" : "query",
          "description" : "Only include dimensions that are valid within a segment.",
          "required" : false,
          "type" : "boolean",
          "enum" : [ "true" ]
        }, {
          "name" : "supportsDataGovernance",
          "in" : "query",
          "description" : "Only include dimensions that contain dataGovernance attribute.",
          "required" : false,
          "type" : "boolean",
          "enum" : [ "true" ]
        }, {
          "name" : "reportable",
          "in" : "query",
          "description" : "Only include dimensions that are valid within a report.",
          "required" : false,
          "type" : "boolean",
          "enum" : [ "true" ]
        }, {
          "name" : "classifiable",
          "in" : "query",
          "description" : "Only include classifiable dimensions.",
          "required" : false,
          "type" : "boolean",
          "enum" : [ "true" ]
        }, {
          "name" : "reportTimeAttribution",
          "in" : "query",
          "description" : "Only include dimensions that support reportTimeAttribution.",
          "required" : false,
          "type" : "boolean",
          "enum" : [ "true" ]
        }, {
          "name" : "useCache",
          "in" : "query",
          "description" : "Enable caching for faster requests.",
          "required" : false,
          "type" : "boolean",
          "default" : true
        }, {
          "name" : "dataGovernanceLabels",
          "in" : "query",
          "description" : "Filter the response based on data governance labels. Search for multiple lables using a comma-delimited string format. Any metric/dimension containing one or more of the provided labels will be returned.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "dataGovernanceNamespaces",
          "in" : "query",
          "description" : "Filter the response based on data governance namespaces. Search for multiple namespaces using a comma-delimited string format. Any dimension containing one or more of the provided namespaces will be returned.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "expansion",
          "in" : "query",
          "description" : "Add extra metadata to items (comma-delimited list)",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "tags", "approved", "favorite", "usageSummary", "attributes" ]
          },
          "collectionFormat" : "multi",
          "enum" : [ "tags", "approved", "favorite", "usageSummary", "attributes" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/AnalyticsDimension"
              }
            }
          },
          "400" : {
            "description" : "Invalid JSON input"
          },
          "401" : {
            "description" : "User does not have access to this report suite"
          },
          "500" : {
            "description" : "Unexpected internal server error"
          }
        }
      }
    },
    "/dimensions/datagovernance/namespaces" : {
      "get" : {
        "tags" : [ "dimensions" ],
        "summary" : "Get all gdpr namespaces for a user's ims org",
        "description" : "",
        "operationId" : "listDataGovernanceNamespaces",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "useCache",
          "in" : "query",
          "description" : "Enable caching",
          "required" : false,
          "type" : "boolean",
          "default" : true
        } ],
        "responses" : {
          "200" : {
            "description" : "Success status",
            "schema" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            }
          }
        }
      }
    },
    "/dimensions/values" : {
      "post" : {
        "tags" : [ "dimensions" ],
        "summary" : "Returns the names of the dimension items listed in the post body.",
        "description" : "Given a dimension name and an itemId, this endpoint returns the text value for that itemId",
        "operationId" : "dimensions_getDimensionValues",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "rsid",
          "in" : "query",
          "description" : "The report suite ID",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "locale",
          "in" : "query",
          "description" : "Locale to use when returning dimension information.",
          "required" : false,
          "type" : "string",
          "default" : "en_US"
        }, {
          "name" : "dateRange",
          "in" : "query",
          "description" : "Optionally supply the date range for filtering dimension values (default is last 90 days). Example format: 2014-06-01/2014-06-30 (gives June 2014)",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Array of dimensionItem objects where each element contains key-value pairs for \"dimension\" and \"itemId\"",
          "required" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/DimensionItem"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/DimensionItem"
              }
            }
          },
          "400" : {
            "description" : "Invalid JSON input"
          },
          "403" : {
            "description" : "Insufficient access to perform operation"
          },
          "500" : {
            "description" : "Unexpected internal server error"
          }
        }
      }
    },
    "/dimensions/{dimensionId}" : {
      "get" : {
        "tags" : [ "dimensions" ],
        "summary" : "Returns a dimension for the given report suite",
        "description" : "",
        "operationId" : "dimensions_getDimension",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "dimensionId",
          "in" : "path",
          "description" : "The dimension ID. For example a valid id is a value like 'evar1'",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "rsid",
          "in" : "query",
          "description" : "The report suite ID.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "locale",
          "in" : "query",
          "description" : "The locale to use for returning system named dimensions.",
          "required" : false,
          "type" : "string",
          "default" : "en_US"
        }, {
          "name" : "expansion",
          "in" : "query",
          "description" : "Add extra metadata to items (comma-delimited list)",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "tags", "approved", "favorite", "usageSummary", "attributes" ]
          },
          "collectionFormat" : "multi",
          "enum" : [ "tags", "approved", "favorite", "usageSummary", "attributes" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/AnalyticsDimension"
            }
          },
          "401" : {
            "description" : "User Doesn't have sufficient privileges"
          }
        }
      }
    },
    "/favorites" : {
      "get" : {
        "tags" : [ "favorites" ],
        "summary" : "Returns a list of favorite objects for the current user meeting the paging restriction",
        "description" : "Returns an array of all of the favorites objects tied to the company. Setting a very large page size will return the list in a single request, but it may be more data than you expect and you may experience performance issues.",
        "operationId" : "favorites_findAllForCurrentUser",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "componentType",
          "in" : "query",
          "description" : "The component type to filter on. Required if also using componentIds filter.",
          "required" : false,
          "type" : "string",
          "enum" : [ "segment", "dashboard", "bookmark", "calculatedMetric", "project", "dateRange", "metric", "dimension", "virtualReportSuite", "scheduledJob", "alert", "classificationSet" ]
        }, {
          "name" : "componentIds",
          "in" : "query",
          "description" : "Comma-delimited list of componentIds to filter on. Must also pass componentType.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userid",
          "in" : "query",
          "description" : "The user ID to return details for. Only admins may use this option.",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of results per page",
          "required" : false,
          "type" : "integer",
          "default" : 10
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Page number (base 0 - first page is \"0\")",
          "required" : false,
          "type" : "integer",
          "default" : 0
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Favorite"
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "favorites" ],
        "summary" : "Creates 'favorite' records for a given component",
        "description" : "Accepts an array of Favorite objects to allow creation of one or many 'favorite' records in a single call.",
        "operationId" : "favorites_save",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "JSON-formatted ARRAY containing a list of favorite objects",
          "required" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/Favorite"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Favorite"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "favorites" ],
        "summary" : "Deletes favorites by componentId. Accepts a list of componentIds and deletes any \"Favorites\" associated with them",
        "description" : "Deletes favorites based on componentIds.",
        "operationId" : "favorites_deleteByItemIds",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "componentType",
          "in" : "query",
          "description" : "The component type to operate on.",
          "required" : true,
          "type" : "string",
          "enum" : [ "segment", "dashboard", "bookmark", "calculatedMetric", "project", "dateRange", "metric", "dimension", "virtualReportSuite", "scheduledJob", "alert", "classificationSet" ]
        }, {
          "name" : "componentIds",
          "in" : "query",
          "description" : "A comma separated list of component Ids",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "additionalProperties" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      }
    },
    "/favorites/{id}" : {
      "get" : {
        "tags" : [ "favorites" ],
        "summary" : "Retrieve a 'favorite' record by id",
        "description" : "",
        "operationId" : "favorites_findOne",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The id of the \"Favorite\" record to return",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Favorite"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "favorites" ],
        "summary" : "Deletes the \"Favorite\" with the given id",
        "description" : "Deletes by favoriteId.",
        "operationId" : "favorites_deleteByFavoriteID",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The id of the favorite",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "object"
              }
            }
          },
          "400" : {
            "description" : "Attempting to remove a favorite by id that does not exist"
          },
          "403" : {
            "description" : "Attempting to remove a favorite for a user other than the authenticated user"
          }
        }
      }
    },
    "/metrics" : {
      "get" : {
        "tags" : [ "metrics" ],
        "summary" : "Returns a list of metrics for the given report suite",
        "description" : "This returns the metrics list primarily for the Analytics product. The platform identity API Returns a list of all possible metrics for the supported systems.",
        "operationId" : "getMetrics",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "rsid",
          "in" : "query",
          "description" : "ID of desired report suite ie. sistr2",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "locale",
          "in" : "query",
          "description" : "Locale that system named metrics should be returned in",
          "required" : false,
          "type" : "string",
          "default" : "en_US"
        }, {
          "name" : "segmentable",
          "in" : "query",
          "description" : "Filter the metrics by if they are valid in a segment.",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "expansion",
          "in" : "query",
          "description" : "Add extra metadata to items (comma-delimited list)",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "tags", "approved", "favorite", "usageSummary", "attributes" ]
          },
          "collectionFormat" : "multi",
          "enum" : [ "tags", "approved", "favorite", "usageSummary", "attributes" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/AnalyticsMetric"
            }
          },
          "400" : {
            "description" : "Invalid JSON input"
          },
          "403" : {
            "description" : "Insufficient access to perform operation"
          },
          "500" : {
            "description" : "Unexpected internal server error"
          }
        }
      }
    },
    "/metrics/{id}" : {
      "get" : {
        "tags" : [ "metrics" ],
        "summary" : "Returns a metric for the given report suite",
        "description" : "",
        "operationId" : "getMetric",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The id of the metric for which to retrieve info. Note ids are values like pageviews, not metrics/pageviews",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "rsid",
          "in" : "query",
          "description" : "ID of desired report suite ie. sistr2",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "locale",
          "in" : "query",
          "description" : "Locale that system named metrics should be returned in",
          "required" : false,
          "type" : "string",
          "default" : "en_US"
        }, {
          "name" : "includeHidden",
          "in" : "query",
          "description" : "Whether to include variables that are hidden in the UI or that the user doesn't have permission to.",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "expansion",
          "in" : "query",
          "description" : "Add extra metadata to items (comma-delimited list)",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "tags", "approved", "favorite", "usageSummary", "attributes" ]
          },
          "collectionFormat" : "multi",
          "enum" : [ "tags", "approved", "favorite", "usageSummary", "attributes" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/AnalyticsMetric"
            }
          },
          "400" : {
            "description" : "Invalid JSON input"
          },
          "403" : {
            "description" : "Insufficient access to perform operation"
          },
          "500" : {
            "description" : "Unexpected internal server error"
          }
        }
      }
    },
    "/reports" : {
      "post" : {
        "tags" : [ "reports" ],
        "summary" : "Runs a report for the request in the post body",
        "description" : "See the [Ranked Endpoint User Guide](https://adobe-experience-cloud.github.io/analytics-2.0-apis/analytics-api-reference-guide.html#_ranked_endpoint_user_guide) for details.",
        "operationId" : "runReport",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "allowRemoteLoad",
          "in" : "query",
          "description" : "Controls if Oberon should remote load data.  Default behavior is true with fallback to false if remote data does not exist",
          "required" : false,
          "type" : "string",
          "default" : "default",
          "enum" : [ "true", "false", "default" ]
        }, {
          "name" : "useCache",
          "in" : "query",
          "description" : "Use caching for faster requests (Use cached dimensions to speed up permission checks - This does not do any report caching)",
          "required" : false,
          "type" : "boolean",
          "default" : true
        }, {
          "name" : "includeOberonXml",
          "in" : "query",
          "description" : "Controls if Oberon XML should be returned in the response - DEBUG ONLY",
          "required" : false,
          "type" : "boolean",
          "default" : false,
          "enum" : [ "true", "false" ]
        }, {
          "name" : "includePlatformPredictiveObjects",
          "in" : "query",
          "description" : "Controls if platform Predictive Objects should be returned in the response. Only available when using Anomaly Detection or Forecasting- DEBUG ONLY",
          "required" : false,
          "type" : "boolean",
          "default" : false,
          "enum" : [ "true", "false" ]
        }, {
          "name" : "usesCatalogIdentities",
          "in" : "query",
          "description" : "Whether this ranked request uses Catalog identities (true) or usual Analytics identities (false). Uses server default (host specific) when not passed.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/RankedRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RankedReportData"
            }
          },
          "400" : {
            "description" : "Invalid input; name, rsid, and definition are all required. Definition must be formatted as a JSON Object.",
            "schema" : {
              "$ref" : "#/definitions/ReportErrorStatus"
            }
          }
        }
      }
    },
    "/reports/ranked" : {
      "post" : {
        "tags" : [ "reports" ],
        "summary" : "Runs a ranked report for the report in the post body",
        "description" : "See the [Ranked Endpoint User Guide](https://adobe-experience-cloud.github.io/analytics-2.0-apis/analytics-api-reference-guide.html#_ranked_endpoint_user_guide) for details.",
        "operationId" : "runRankedReport",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "allowRemoteLoad",
          "in" : "query",
          "description" : "Controls if Oberon should remote load data.  Default behavior is true with fallback to false if remote data does not exist",
          "required" : false,
          "type" : "string",
          "default" : "default",
          "enum" : [ "true", "false", "default" ]
        }, {
          "name" : "useCache",
          "in" : "query",
          "description" : "Use caching for faster requests (Use cached dimensions to speed up permission checks - This does not do any report caching)",
          "required" : false,
          "type" : "boolean",
          "default" : true
        }, {
          "name" : "includeOberonXml",
          "in" : "query",
          "description" : "Controls if Oberon XML should be returned in the response - DEBUG ONLY",
          "required" : false,
          "type" : "boolean",
          "default" : false,
          "enum" : [ "true", "false" ]
        }, {
          "name" : "includePlatformPredictiveObjects",
          "in" : "query",
          "description" : "Controls if platform Predictive Objects should be returned in the response. Only available when using Anomaly Detection or Forecasting- DEBUG ONLY",
          "required" : false,
          "type" : "boolean",
          "default" : false,
          "enum" : [ "true", "false" ]
        }, {
          "name" : "usesCatalogIdentities",
          "in" : "query",
          "description" : "Whether this ranked request uses Catalog identities (true) or usual Analytics identities (false). Uses server default (host specific) when not passed.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/RankedRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RankedReportData"
            }
          },
          "400" : {
            "description" : "Invalid input; name, rsid, and definition are all required. Definition must be formatted as a JSON Object.",
            "schema" : {
              "$ref" : "#/definitions/ReportErrorStatus"
            }
          }
        }
      }
    },
    "/reports/segmentSummary" : {
      "post" : {
        "tags" : [ "reports" ],
        "summary" : "Returns a segment summary report for the segment definition in the post body",
        "description" : "Requires rsid and definition. Used to validate a segment definition and return basic reporting metrics for that definition. \n\n\nThe response contains products that the definition is compatible with, as well as a series of totals that represent how many Page Views, Visits, and Visitors the segment includes.\n\nFormat for the order of Totals in response:\n\n\n1) Number of Page Views that the segment includes for the given time period\n\n2) Number of Visits that the segment includes for the given time period\n\n3) Number of Unique Visitors that the segment includes for the given time period\n\n4) Total number of Page Views for the time period (non-segmented)\n\n5) Total number of Visits for the time period (non-segmented)\n\n6) Total number of Unique Visitors for the time period (non-segmented)\n\n\nThe overall totals (3-6) can be used with the segment totals (1-3) to determine the percentage of the segment's audience for each metric.\n\nExample definition for use in testing API below (\"Page exists\"):\n\n\n```\n\n{\n\t\"func\": \"segment\",\n\t\"container\": {\n\t\t\"func\": \"container\",\n\t\t\"context\": \"hits\",\n\t\t\"pred\": {\n\t\t\t\"func\": \"exists\",\n\t\t\t\"description\": \"Page\",\n\t\t\t\"val\": {\n\t\t\t\t\"func\": \"attr\",\n\t\t\t\t\"name\": \"variables/page\"\n\t\t\t}\n\t\t}\n\t},\n\t\"version\": [1, 0, 0]\n}\n\n\n```",
        "operationId" : "runSegmentSummaryReport",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "rsid",
          "in" : "query",
          "description" : "RSID to run the report against",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "locale",
          "in" : "query",
          "description" : "Locale",
          "required" : false,
          "type" : "string",
          "default" : "en_US"
        }, {
          "name" : "dateRange",
          "in" : "query",
          "description" : "Format: YYYY-MM-DD/YYYY-MM-DD",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "startDate",
          "in" : "query",
          "description" : "Format: YYYY-MM-DD",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "endDate",
          "in" : "query",
          "description" : "Format: YYYY-MM-DD",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "allowRemoteLoad",
          "in" : "query",
          "description" : "Controls if Oberon should remote load data.  Default behavior is true with fallback to false if remote data does not exist",
          "required" : false,
          "type" : "string",
          "default" : "default",
          "enum" : [ "true", "false", "default" ]
        }, {
          "name" : "includeOberonXml",
          "in" : "query",
          "description" : "Controls if Oberon XML should be returned in the response - DEBUG ONLY",
          "required" : false,
          "type" : "boolean",
          "default" : false,
          "enum" : [ "true", "false" ]
        }, {
          "name" : "includeVisitorsMcvisid",
          "in" : "query",
          "description" : "Controls if Visitors with Experience Cloud ID should be returned in the response",
          "required" : false,
          "type" : "boolean",
          "default" : false,
          "enum" : [ "true", "false" ]
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Segment definition",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/SegmentSummaryResponse"
            }
          },
          "400" : {
            "description" : "Bad JSON input; request not formatted correctly"
          },
          "403" : {
            "description" : "User does not have access to run this report"
          },
          "500" : {
            "description" : "Unexpected error; failed to run report"
          }
        }
      }
    },
    "/reports/topItems" : {
      "get" : {
        "tags" : [ "reports" ],
        "summary" : "Returns a top items report for the given dimension",
        "description" : "Get the top X items (based on paging restriction) for the specified dimension and rsid. Defaults to last 90 days.\n\nSearch Clause examples:\ncontains test: 'test'\n\n contains test or test1: 'test' OR 'test1'\n\ncontains test and test1: 'test' AND 'test1'\n\ncontains test and not (test1 or test2): 'test' AND NOT ('test1' OR 'test2')\n\ndoes not contain test: NOT 'test'\n\n",
        "operationId" : "runTopItemsReport",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "rsid",
          "in" : "query",
          "description" : "RSID to run the report against",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "dimension",
          "in" : "query",
          "description" : "Dimension to run the report against. Example: \"variables/page\"",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "locale",
          "in" : "query",
          "description" : "Locale",
          "required" : false,
          "type" : "string",
          "default" : "en_US"
        }, {
          "name" : "dateRange",
          "in" : "query",
          "description" : "Format: YYYY-MM-DD/YYYY-MM-DD",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "search-clause",
          "in" : "query",
          "description" : "General search string; wrap with single quotes. Example: 'PageABC'",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "startDate",
          "in" : "query",
          "description" : "Format: YYYY-MM-DD",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "endDate",
          "in" : "query",
          "description" : "Format: YYYY-MM-DD",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "searchAnd",
          "in" : "query",
          "description" : "Search terms that will be AND-ed together. Space delimited.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "searchOr",
          "in" : "query",
          "description" : "Search terms that will be OR-ed together. Space delimited.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "searchNot",
          "in" : "query",
          "description" : "Search terms that will be treated as NOT including. Space delimited.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "searchPhrase",
          "in" : "query",
          "description" : "A full search phrase that will be searched for.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "allowRemoteLoad",
          "in" : "query",
          "description" : "Controls if Oberon should remote load data.  Default behavior is true with fallback to false if remote data does not exist",
          "required" : false,
          "type" : "string",
          "default" : "default",
          "enum" : [ "true", "false", "default" ]
        }, {
          "name" : "includeOberonXml",
          "in" : "query",
          "description" : "Controls if Oberon XML should be returned in the response - DEBUG ONLY",
          "required" : false,
          "type" : "boolean",
          "default" : false,
          "enum" : [ "true", "false" ]
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of results per page",
          "required" : false,
          "type" : "integer",
          "default" : 10
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Page number (base 0 - first page is \"0\")",
          "required" : false,
          "type" : "integer",
          "default" : 0
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/UnhashReportData"
            }
          },
          "403" : {
            "description" : "User does not have access to run this report"
          },
          "500" : {
            "description" : "Unexpected error; failed to run report"
          }
        }
      }
    },
    "/reportsuites" : {
      "get" : {
        "tags" : [ "reportsuites" ],
        "summary" : "Retrieves report suites that match the given filters.",
        "description" : "",
        "operationId" : "findAll",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "rsids",
          "in" : "query",
          "description" : "Filter list to only include suites in this RSID list (comma-delimited)",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "rsidContains",
          "in" : "query",
          "description" : "Filter list to only include suites whose rsid contains rsidContains.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "rsidOrNameContains",
          "in" : "query",
          "description" : "Filter list to only include suites whose rsid or report suite name contains rsidOrNameContains.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of results per page",
          "required" : false,
          "type" : "integer",
          "default" : 10
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Page number (base 0 - first page is \"0\")",
          "required" : false,
          "type" : "integer",
          "default" : 0
        }, {
          "name" : "expansion",
          "in" : "query",
          "description" : "Comma-delimited list of additional report suite metadata fields to include on response.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "calendarType", "reportSuiteName", "baseUrl", "defaultPage", "currency", "calendarAnchorDate", "timezone", "timezoneZoneinfo" ]
          },
          "collectionFormat" : "multi",
          "enum" : [ "calendarType", "reportSuiteName", "baseUrl", "defaultPage", "currency", "calendarAnchorDate", "timezone", "timezoneZoneinfo" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/AnalyticsReportSuite"
            }
          },
          "500" : {
            "description" : "Unexpected error; report suite retrieval failed"
          }
        }
      }
    },
    "/reportsuites/{rsid}/calendartype" : {
      "get" : {
        "tags" : [ "reportsuites" ],
        "summary" : "Retrieves calendar type for a single report suite.",
        "description" : "",
        "operationId" : "findCalendarType",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "rsid",
          "in" : "path",
          "description" : "rsid",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/CalendarType"
            }
          },
          "500" : {
            "description" : "Unexpected error; retrieval of report suite calendar type failed due to an internal error"
          }
        }
      }
    },
    "/segments" : {
      "get" : {
        "tags" : [ "segments" ],
        "summary" : "Retrieve All Segments",
        "description" : "",
        "operationId" : "segments_getSegments",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "includeType",
          "in" : "query",
          "description" : "Include additional segments not owned by user. The \"all\" option takes precedence over \"shared\"",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "shared", "all", "templates", "deleted", "internal", "curatedItem" ]
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "rsids",
          "in" : "query",
          "description" : "Filter list to only include segments tied to specified RSID list (comma-delimited)",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "dataType",
          "in" : "query",
          "description" : "Filter list to only include segments compatible with the specified product",
          "required" : false,
          "type" : "string",
          "enum" : [ "dw", "oberon" ]
        }, {
          "name" : "ownerId",
          "in" : "query",
          "description" : "Filter list to only include segments owned by the specified loginId",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "segmentFilter",
          "in" : "query",
          "description" : "Filter list to only include segments in the specified list (comma-delimited list of IDs)",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "filterByIds",
          "in" : "query",
          "description" : "Filter list to only include segments in the specified list (comma-delimited list of IDs) (this is the same as segmentFilter, and is overwritten by segmentFilter",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "toBeUsedInRsid",
          "in" : "query",
          "description" : "Required when reportTimeAttribution != null or expansion=reportTimeAttribution",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "reportTimeAttribution",
          "in" : "query",
          "description" : "Filter list to only include segments by reportTimeAttribution",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "locale",
          "in" : "query",
          "description" : "Locale",
          "required" : false,
          "type" : "string",
          "default" : "en_US"
        }, {
          "name" : "name",
          "in" : "query",
          "description" : "Filter list to only include segments that contains the Name",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "tagNames",
          "in" : "query",
          "description" : "Filter list to only include segments that contains one of the tags",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "filterByModifiedAfter",
          "in" : "query",
          "description" : "Filter list to only include segments modified since this date (ISO8601 format)",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "pagination",
          "in" : "query",
          "description" : "Return paginated results",
          "required" : false,
          "type" : "string",
          "default" : "false",
          "enum" : [ "true", "false" ]
        }, {
          "name" : "dataGroup",
          "in" : "query",
          "description" : "Filter list to only include segments with the given data group",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "version",
          "in" : "query",
          "description" : "Decides the version of segment service",
          "required" : false,
          "type" : "string",
          "default" : "old",
          "enum" : [ "old", "new" ]
        }, {
          "name" : "curatedRsid",
          "in" : "query",
          "description" : "Include the curatedItem status for given report suite ID",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of results per page",
          "required" : false,
          "type" : "integer",
          "default" : 10
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Page number (base 0 - first page is \"0\")",
          "required" : false,
          "type" : "integer",
          "default" : 0
        }, {
          "name" : "expansion",
          "in" : "query",
          "description" : "Comma-delimited list of additional segment metadata fields to include on response.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "reportSuiteName", "siteTitle", "ownerFullName", "modified", "approved", "favorite", "shares", "tags", "sharesFullName", "usageSummary", "compatibility", "definition" ]
          },
          "collectionFormat" : "multi",
          "enum" : [ "reportSuiteName", "siteTitle", "ownerFullName", "modified", "approved", "favorite", "shares", "tags", "sharesFullName", "usageSummary", "compatibility", "definition" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/AnalyticsSegmentResponseItem"
            }
          },
          "400" : {
            "description" : "Unable to retrieve list of segments shared with user"
          },
          "401" : {
            "description" : "Owner filter error; user specified is not in the same company as the requesting user"
          },
          "403" : {
            "description" : "Requesting non-shared segments for other users is restricted to admin users"
          },
          "500" : {
            "description" : "External API error; Segment retrieval failed"
          }
        }
      },
      "post" : {
        "tags" : [ "segments" ],
        "summary" : "Creates Segment",
        "description" : "",
        "operationId" : "segments_createSegment",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "JSON-formatted Object containing key/value pairs for segment creation.",
          "required" : false,
          "schema" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "object"
            }
          }
        }, {
          "name" : "version",
          "in" : "query",
          "description" : "Decides the version of segment service",
          "required" : false,
          "type" : "string",
          "default" : "old",
          "enum" : [ "old", "new" ]
        }, {
          "name" : "locale",
          "in" : "query",
          "description" : "Locale",
          "required" : false,
          "type" : "string",
          "default" : "en_US"
        }, {
          "name" : "expansion",
          "in" : "query",
          "description" : "Comma-delimited list of additional segment metadata fields to include on response.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "reportSuiteName", "siteTitle", "ownerFullName", "modified", "approved", "favorite", "shares", "tags", "sharesFullName", "usageSummary", "compatibility", "definition" ]
          },
          "collectionFormat" : "multi",
          "enum" : [ "reportSuiteName", "siteTitle", "ownerFullName", "modified", "approved", "favorite", "shares", "tags", "sharesFullName", "usageSummary", "compatibility", "definition" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/AnalyticsSegmentResponseItem"
            }
          },
          "400" : {
            "description" : "Invalid input; name, rsid, and definition are all required. Definition must be formatted as a JSON Object."
          },
          "500" : {
            "description" : "External API error; Segment create or retrieval failed"
          }
        }
      }
    },
    "/segments/aamstatus" : {
      "get" : {
        "tags" : [ "segments" ],
        "summary" : "AAM Status",
        "description" : "Checks the provided report suite to see if it is configured to allow segment sharing with Adobe Audience Manager.",
        "operationId" : "segments_aamStatus",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "rsid",
          "in" : "query",
          "description" : "Report suite ID to check status for",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "version",
          "in" : "query",
          "description" : "Decides the version of segment service",
          "required" : false,
          "type" : "string",
          "default" : "old",
          "enum" : [ "old", "new" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object"
            }
          },
          "500" : {
            "description" : "External API error; failed to check status for given RSID"
          }
        }
      }
    },
    "/segments/{id}" : {
      "get" : {
        "tags" : [ "segments" ],
        "summary" : "Get a Single Segment",
        "description" : "",
        "operationId" : "segments_getSegment",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The segment ID to retrieve",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "version",
          "in" : "query",
          "description" : "Decides the version of segment service",
          "required" : false,
          "type" : "string",
          "default" : "old",
          "enum" : [ "old", "new" ]
        }, {
          "name" : "toBeUsedInRsid",
          "in" : "query",
          "description" : "Evaluate the reportTimeAttribution/customerJourney compatibility for the provided report suite ID",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "locale",
          "in" : "query",
          "description" : "Locale",
          "required" : false,
          "type" : "string",
          "default" : "en_US"
        }, {
          "name" : "expansion",
          "in" : "query",
          "description" : "Comma-delimited list of additional segment metadata fields to include on response.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "reportSuiteName", "siteTitle", "ownerFullName", "modified", "approved", "favorite", "shares", "tags", "sharesFullName", "usageSummary", "compatibility", "definition" ]
          },
          "collectionFormat" : "multi",
          "enum" : [ "reportSuiteName", "siteTitle", "ownerFullName", "modified", "approved", "favorite", "shares", "tags", "sharesFullName", "usageSummary", "compatibility", "definition" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/AnalyticsSegmentResponseItem"
            }
          },
          "403" : {
            "description" : "Requesting non-shared segments for other users is restricted to admin users"
          },
          "500" : {
            "description" : "External API error; segment retrieval failed"
          }
        }
      },
      "put" : {
        "tags" : [ "segments" ],
        "summary" : "Update a Segment",
        "description" : "",
        "operationId" : "segments_updateSegment",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Segment ID to be updated",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "version",
          "in" : "query",
          "description" : "Decides the version of segment service",
          "required" : false,
          "type" : "string",
          "default" : "old",
          "enum" : [ "old", "new" ]
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "JSON-formatted Object containing key/value pairs to be updated.",
          "required" : false,
          "schema" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "object"
            }
          }
        }, {
          "name" : "locale",
          "in" : "query",
          "description" : "Locale",
          "required" : false,
          "type" : "string",
          "default" : "en_US"
        }, {
          "name" : "expansion",
          "in" : "query",
          "description" : "Comma-delimited list of additional segment metadata fields to include on response.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "reportSuiteName", "siteTitle", "ownerFullName", "modified", "approved", "favorite", "shares", "tags", "sharesFullName", "usageSummary", "compatibility", "definition" ]
          },
          "collectionFormat" : "multi",
          "enum" : [ "reportSuiteName", "siteTitle", "ownerFullName", "modified", "approved", "favorite", "shares", "tags", "sharesFullName", "usageSummary", "compatibility", "definition" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/AnalyticsSegmentResponseItem"
            }
          },
          "400" : {
            "description" : "Definition must be formatted as a JSON Object"
          },
          "401" : {
            "description" : "Company mismatch; segment ownership can only be transferred within the same organization"
          },
          "403" : {
[...]
